<div class="d-flex align-items-center my-3 justify-content-center">
    <h2 class="mb-0 d-inline-block"><strong>我的歷史訂單</strong></h2>
</div>
<div class="container">
    <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item" v-for="(item,index) in OrderList">
            <div class="accordion-header" v-bind:id="index">
                <button class="accordion-button pb-0 collapsed" type="button" data-bs-toggle="collapse" v-bind:data-bs-target="'#panelsStayOpen'+index" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                    <table class="table table-striped table-no-bordered" style="border: 1px solid transparent !important;">
                        <thead>
                            <tr>
                                <th scope="col">訂單編號</th>
                                <th scope="col">訂購日期</th>
                                <th scope="col">應付總額</th>
                                <th scope="col">付款狀態</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="">
                                <td>
                                    {{item.orderId}}
                                </td>
                                <td>
                                    {{item.orderDate}}
                                </td>
                                <td>
                                    {{item.amount}}
                                </td>
                                <td>
                                    <div class="text-danger" v-if="item.orderStatus==0">
                                        <strong>尚未付款</strong>
                                    </div>
                                    <div class="text-success" v-else>
                                        <strong>已付款</strong>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </button>
            </div>
            <div  v-bind:id="'panelsStayOpen'+index" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne" data-bs-parent="#accordionPanelsStayOpenExample">
                <div class="accordion-body bg-success">
                    <div class="row">
                        <div class="col col-4">
                            商品名稱
                        </div>
                        <div class="col col-4">
                            商品單價
                        </div>
                        <div class="col col-4">
                            商品數量
                        </div>
                    </div>
                    <hr />
                    <div class="row" v-for="ProductInfo in item.orderDetails">
                        <div class="col col-4">
                            {{ProductInfo.productName}}
                        </div>
                        <div class="col col-4">
                            {{ProductInfo.price}}
                        </div>
                        <div class="col col-4">
                            {{ProductInfo.count}}
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col offset-10">
                            <button class="btn btn-warning justify-content-end" v-on:click="PurchaseAgain(item)">
                                再次訂購
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        var MemberOrderHistory = new Vue({
            data: {
                OrderList: []
            },
            methods: {
                GetMemberOrderInfo: function() {
                    $.ajax({
                        type: "get",
                        url: "/api/MemberOder/GetMemberOrderHistory"
                    })
                        .done(res => {
                            console.log(res);
                            MemberOrderHistory.OrderList = res;
                        })
                        .fail(err => console.log(err))
                },
                PurchaseAgain: function(item) {
                    $.ajax({
                        type: "get",
                        url: `/api/MemberOder/PurchaseOrderAgain/${item.orderId}`
                    })
                        .done(res => {
                            console.log(res);
                            if (res) {
                            window.location.href = "/Checkout";
                            }
                        })
                        .fail(err => console.log(err))
                }
            },
            mounted: function() {
                this.GetMemberOrderInfo();
            }
        }).$mount("#accordionPanelsStayOpenExample")
    </script>
}