

body {
    background-color: rgba(246, 235, 220, 0.63);
}


#map {
    border-radius: 30px 30px 30px 30px;
    width: 100%;
    height: 320px;
}

.jumbotron {
    margin-top: 10px;
    margin-bottom: 2rem;
    border-radius: 15px;
    padding: 4rem 2rem;
    opacity: 0.7;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 55%);
}

#cardBody {
    padding: 20px;
}

#inCard {
    padding: 20px;
}

#cardContent {
    padding: 0px;
    border-radius: 10px;
    border-color: darkgray;
    border-width: initial;
    box-shadow: grey 10px 7px 10px;
    margin-right: 15px;
    transition: 0.5s;
    font-weight: bold;
}

    #cardContent:hover {
        box-shadow: 15px 15px 30px rgb(0,0,0,0.8);
    }

.cardImgTop {
    width: 100%;
    border-radius: 7px;
    height: 240px;
}

#cardAbout {
    border: solid;
    padding: 20px;
    text-align: left;
    border-radius: 40px;
    border-color: darkgray;
    text-indent: 1rem;
}

    #cardAbout:first-letter {
        color: blue;
        background-color: lightyellow;
        font-size: 23px;
        font-weight: bold;
    }

#bread:visited {
    color: red;
}

#cardRestName {
    font-weight: bolder;
    color: steelblue;
}

#bgImgDiv {
    position: relative;
    margin-top: 10px;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: 1.5rem;
    padding: 4rem 2rem;
    opacity: 0.7;
    box-shadow: 0px 5px 20px rgb(10 0 0 / 80%);
}

#bgImgO {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    z-index: 1;
    opacity: .2;
    border-radius: 25px;
}
