@model PetsWebsite.Models.Product

@*商品照片,單價轉型*@
@{
    string imgName = $"{Model.ProductId}.jpg";
    int UnitPrice = Convert.ToInt32(Model.UnitPrice);
}

@*顯示商品內容*@

<div class="col-12 col-md-3 mt-3">
    <div class="img-thumbnail cardlight">
        <img src="~/images/Product/@imgName" style="width:100%">
        <div class="row mt-1 ms-2">
            <h4 class="text-danger">單價：@UnitPrice</h4>
            <h6 style="display: -webkit-box;-webkit-box-orient: vertical; text-overflow: ellipsis; white-space: normal; overflow: hidden; -webkit-line-clamp: 2;"> @Model.ProductName</h6>
            @*<h6> @Model.ProductName</h6>*@
            @*<p>寵物類型：@Model.Discontinued</p>*@
        </div>
        <div class="container">
            <div class="row">
                <div class="d-grid gap-2 ">
                    <a asp-controller="ShoppingCart" asp-action="Index" asp-route-id="@Model.ProductId" class="btn btn-primary btn-sm text-light">直接結帳</a>
                </div>
                <div class="d-grid gap-2 mt-1">
                    <a asp-controller="ShoppingCart" asp-action="Index" asp-route-id="@Model.ProductId" class="btn btn-primary btn-sm text-light">放入購物車</a>
                </div>
                <div class="d-grid gap-2 mt-1">
                    <a href="#" class="btn btn-danger btn-sm text-light">❤收藏</a>
                </div>
            </div>
        </div>
    </div>
</div>
