@*@model PetsWebsite.Models.Restaurant*@

@{
    var Restaurantstring = Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.editRestaurant);
}
<div class="d-flex align-items-center mt-3 justify-content-center">
    <h2 class="mb-0 d-inline-block"><strong>修改餐廳資訊</strong></h2>
</div>
<section id="editRestaurant">
    <div class="contanier mt-4">
        <form id="restaurantForm" action="@Url.Action("SaveEditedRestaurant","Owner")" method="post" enctype="multipart/form-data">
            <div class="row mt-4 justify-content-center" style="height: 900px;">
                <div class="col col-6">
                    <div class="row g-3 bg-light rounded mb-3">
                        <div class="col col-12">
                            <label for="RestaurantId" class="form-label">餐廳ID: </label>
                            <input type="text" class="form-control" v-bind:value="editRestaurant.RestaurantId" id="RestaurantId" name="RestaurantId" readonly>
                        </div>
                        <div class="col col-6 was-validated">
                            <label for="RestaurantName" class="form-label">餐廳名稱: </label>
                            <input type="text" class="form-control is-invalid" v-bind:value="editRestaurant.RestaurantName" id="RestaurantName" name="RestaurantName" required>
                        </div>
                        <div class="col col-6 was-validated">
                            <label for="Phone" class="form-label">連絡電話: </label>
                            <input type="text" class="form-control is-invalid" v-bind:value="editRestaurant.Phone" id="Phone" name="Phone" required>
                        </div>
                        <div class="col col-6">
                            <label for="City">所在城市: </label>
                            <select class="form-select" v-on:change="changeCity" name="City" v-model="selectedCity" aria-label="select example">
                                <option value="臺北市">臺北市</option>
                                <option value="新北市">新北市</option>
                            </select>
                        </div>
                        <div class="col col-6">
                            <label for="Region">所在區域: </label>
                            <select class="form-select" v-model="selectedRegion" name="Region" aria-label="select example" required>
                                <option v-for="item in areaList" v-bind:value="item.AreaName">{{item.AreaName}}</option>
                            </select>
                        </div>
                        <div class="col col-12 was-validated">
                            <label for="Address" class="form-label">餐廳地址: </label>
                            <input type="text" class="form-control is-invalid" v-bind:value="editRestaurant.Address" id="Address" name="Address" placeholder="餐廳地址..." required>
                        </div>
                        <div class="col col-12=">
                            <label for="Reserve" class="form-label">餐廳預約網址(選填): </label>
                            <input type="text" class="form-control" v-bind:value="editRestaurant.Reserve" id="Reserve" name="Reserve">
                        </div>
                        <div class="col col-12">
                            <label for="BusyTime">餐廳營業時間: </label>
                            <textarea class="form-control" id="BusyTime" v-bind:value="editRestaurant.BusyTime" name="BusyTime" rows="3" required></textarea>
                        </div>
                        <div class="col col-12">
                            <label for="Introduction">餐廳簡述: </label>
                            <textarea class="form-control" id="Introduction" name="Introduction" rows="3">{{editRestaurant.Introduction}}</textarea>
                        </div>
                        <div class="col col-12">
                            <label class="d-block" for="Photo">圖片(大小請勿超過2MB)</label>
                            <div class="mb-3">
                                <input class="form-control" type="file" id="Photo" name="Photo" onchange="previewPic(this)" accept="image/*">
                                <img id="pic" v-bind:src="'/images/Restaurant/' + editRestaurant.PhotoPath" style="height: 30%; width: 30%;" />
                            </div>
                        </div>
                        <hr class="mb-0">
                        <div class="col col-12 d-flex my-3 justify-content-center">
                            <button class="btn btn-outline-danger" type="submit">確認修改</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<script src="~/js/CityRegion.js"></script>
<script>
    var Restaurant = @Html.Raw(Restaurantstring)
    var editRest = new Vue({
        data: {
            cityRegion: [],
            areaList: [],
            editRestaurant: Restaurant,
            selectedCity: "",
            selectedRegion: ""
        },
        mounted: function(){
            this.cityRegion = JSON.parse(cityRegionSource);
            this.selectedCity = this.editRestaurant.City;
            this.selectedRegion = this.editRestaurant.Region;
            for (let index = 0; index < this.cityRegion.length; index++) {
                if (this.cityRegion[index].CityName == this.selectedCity) {
                    this.areaList = this.cityRegion[index].AreaList;
                    break;
                }
            }
        },
        methods: {
            changeCity: function(e) {
                for (let index = 0; index < this.cityRegion.length; index++) {
                    if(this.cityRegion[index].CityName == e.target.value){
                        this.areaList = this.cityRegion[index].AreaList;
                        break;
                    }
                }
            }
        }
    }).$mount('#editRestaurant');

    function previewPic(e) {
        maxSize_2MB = 1 * 1024 * 1024;

        if (e.files[0].size > maxSize_2MB) {
            alert('圖片大小超過2MB！無法上傳');
            e.value = "";
        }
        else {
            pic.src = URL.createObjectURL(e.files[0])
        }
    }
</script>