@*管理商品頁面*@
<div class="contanier mx-5 pt-5" id="ownerManage">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="product-tab" data-bs-toggle="tab" data-bs-target="#product" type="button" role="tab" aria-controls="product" aria-selected="true">我的商品</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="restaurant-tab" data-bs-toggle="tab" data-bs-target="#restaurant" type="button" role="tab" aria-controls="restaurant" aria-selected="false" v-on:click="getMyRestaurant">我的餐廳</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="clinic-tab" data-bs-toggle="tab" data-bs-target="#clinic" type="button" role="tab" aria-controls="clinic" aria-selected="false">我的診所</button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade bg-light show active" id="product" role="tabpanel" aria-labelledby="product-tab">
            <div class="contanier mx-5 pt-5">
                <div class="row">
                    <a class="btn btn-outline-success col col-2 ms-4 mb-2" href="/Owner/CreateProduct">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg"
                             viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
                        </svg>
                        新增商品
                    </a>
                </div>
                <table class="table table-light table-striped">
                    <thead>
                        <tr>
                            <th scope="col">圖片</th>
                            <th scope="col">商品名稱</th>
                            <th scope="col">商品單價</th>
                            <th scope="col">商品折扣</th>
                            <th scope="col">庫存量</th>
                            <th scope="col">商品描述</th>
                            <th scope="col">修改商品資訊</th>
                            <th scope="col">下架商品</th>
                            <th scope="col">商品狀態</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="" v-for="item in productList">
                            <td scope="row">
                                <img v-bind:src="'/images/Product/' + item.photoPath" style="width: 100px; height: 80px;" alt="">
                            </td>
                            <td>{{item.productName}}</td>
                            <td>{{item.unitPrice}}</td>
                            <td>折扣</td>
                            <td>{{item.unitsInStock}}</td>
                            <td>
                                <p class="text-truncate" style="width: 80px;" v-bind:title="item.productDescription">
                                    {{item.productDescription}}
                                </p>
                            </td>
                            <td>
                                <a v-bind:href="'/Owner/EditProduct/' + item.productId" v-bind:value="item.productId" class="btn btn-warning" type="submit">修改</a>
                            </td>
                            <td>
                                <button v-bind:value="item.productId" class="btn btn-danger" type="submit">下架</button>
                            </td>
                            <td>已上架</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade bg-light" id="restaurant" role="tabpanel" aria-labelledby="restaurant-tab">
            <div class="contanier mx-5 pt-5">
                <table class="table table-light table-striped">
                    <thead>
                        <tr>
                            <th scope="col">圖片</th>
                            <th scope="col">餐廳名稱</th>
                            <th scope="col">電話</th>
                            <th scope="col">城市</th>
                            <th scope="col">地區</th>
                            <th scope="col">地址</th>
                            <th scope="col">餐廳簡述</th>
                            <th scope="col">修改餐廳資訊</th>
                            <th scope="col">下架餐廳</th>
                            <th scope="col">餐廳狀態</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="">
                            <td scope="row">
                                <img src="/images/Owner/餐廳.jpg" style="width: 100px; height: 80px;" alt="">
                            </td>
                            <td>寵物餐廳</td>
                            <td>02-22222222</td>
                            <td>台北市</td>
                            <td>大安區</td>
                            <td>
                                <p style="width: 80px; height: 20px; text-overflow: ellipsis; white-space: wrap; overflow: hidden;">
                                    XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
                                </p>
                            </td>
                            <td>
                                <p style="width: 80px; height: 20px; text-overflow: ellipsis; white-space: wrap; overflow: hidden;">
                                    XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
                                </p>
                            </td>
                            <td>
                                <a class="btn btn-warning" type="submit">修改</a>
                            </td>
                            <td>
                                <a class="btn btn-danger" type="submit">下架</a>
                            </td>
                            <td>已上架</td>
                        </tr>
                        <tr class="">
                            <td scope="row">
                                <img src="/images/Owner/餐廳.jpg" style="width: 100px; height: 80px;" alt="">
                            </td>
                            <td>寵物餐廳</td>
                            <td>02-22222222</td>
                            <td>台北市</td>
                            <td>大安區</td>
                            <td>
                                <p style="width: 80px; height: 20px; text-overflow: ellipsis; white-space: wrap; overflow: hidden;">
                                    XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
                                </p>
                            </td>
                            <td>
                                <p style="width: 80px; height: 20px; text-overflow: ellipsis; white-space: wrap; overflow: hidden;">
                                    XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
                                </p>
                            </td>
                            <td>
                                <a class="btn btn-warning" type="submit">修改</a>
                            </td>
                            <td>
                                <a class="btn btn-danger" type="submit">下架</a>
                            </td>
                            <td>已上架</td>
                        </tr>
                        <tr class="">
                            <td scope="row">
                                <img src="/images/Owner/餐廳.jpg" style="width: 100px; height: 80px;" alt="">
                            </td>
                            <td>寵物餐廳</td>
                            <td>02-22222222</td>
                            <td>台北市</td>
                            <td>大安區</td>
                            <td>
                                <p style="width: 80px; height: 20px; text-overflow: ellipsis; white-space: wrap; overflow: hidden;">
                                    XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
                                </p>
                            </td>
                            <td>
                                <p style="width: 80px; height: 20px; text-overflow: ellipsis; white-space: wrap; overflow: hidden;">
                                    XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
                                </p>
                            </td>
                            <td>
                                <a class="btn btn-warning" type="submit">修改</a>
                            </td>
                            <td>
                                <a class="btn btn-danger" type="submit">下架</a>
                            </td>
                            <td>已上架</td>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <a class="btn btn-primary position-absolute col col-1" style="right: 5%;" asp-action="CreateProduct" asp-controller="Owner">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg"
                             viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
                        </svg>
                        新增餐廳
                    </a>
                </div>
            </div>
        </div>
        <div class="tab-pane fade bg-light" id="clinic" role="tabpanel" aria-labelledby="clinic-tab">
            <div class="contanier mx-5 pt-5">
                <table class="table table-light table-striped">
                    <thead>
                        <tr>
                            <th scope="col">圖片</th>
                            <th scope="col">診所名稱</th>
                            <th scope="col">電話</th>
                            <th scope="col">城市</th>
                            <th scope="col">地區</th>
                            <th scope="col">地址</th>
                            <th scope="col">診所簡述</th>
                            <th scope="col">犬貓專科</th>
                            <th scope="col">急診</th>
                            <th scope="col">修改診所資訊</th>
                            <th scope="col">下架診所</th>
                            <th scope="col">商品狀態</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="">
                            <td scope="row">
                                <img src="/images/Owner/動物醫院.png" style="width: 100px; height: 80px;" alt="">
                            </td>
                            <td>寵物醫院</td>
                            <td>02-22222222</td>
                            <td>台北市</td>
                            <td>大安區</td>
                            <td>
                                <p style="width: 80px; height: 20px; text-overflow: ellipsis; white-space: wrap; overflow: hidden;">
                                    XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
                                </p>
                            </td>
                            <td>
                                <p style="width: 80px; height: 20px; text-overflow: ellipsis; white-space: wrap; overflow: hidden;">
                                    XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
                                </p>
                            </td>
                            <td>否</td>
                            <td>是</td>
                            <td>
                                <a class="btn btn-warning" type="submit">修改</a>
                            </td>
                            <td>
                                <a class="btn btn-danger" type="submit">下架</a>
                            </td>
                            <td>已上架</td>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <a class="btn btn-primary position-absolute col col-1" style="right: 5%;" asp-action="CreateProduct" asp-controller="Owner">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg"
                             viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
                        </svg>
                        新增診所
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var vm = new Vue({
        data: {
            productList: [],
            restaurantList: [],
            ClinicList: []
        },
        mounted: function() {
            var self = this;
            fetch("/api/ProductManageAPI/GetProduct")
                .then(response => response.json())
                .then(result => {
                    console.log("result", result)
                    self.productList = result
                })
        },
        methods: {
            getMyRestaurant: function() {
                $.ajax({
                    url: "/api/ProductManageAPI/GetRestaurant",
                    method: "GET"
                })
                .done(function(res) {
                    vm.restaurantList = res
                })
                .fail(function(res) {
                    console.log("res: ", res)
                })
            }
        }
    }).$mount('#ownerManage')
</script>