@*@model IEnumerable<PetsWebsite.Models.Product>*@
@model PetsWebsite.Models.Product
@*商品照片,單價轉型*@
@*@{
    string imgName = $"{Model.ProductId}.jpg";
    int UnitPrice = Convert.ToInt32(Model.UnitPrice);
}*@

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-10">
            <table class="table border border-warning border-5 table-hover table-responsive">
                <thead>
                    <tr class="table-dark" align="center">
                        <th scope="col"></th>
                        <th scope="col">圖片</th>
                        <th scope="col">名稱</th>
                        <th scope="col">價格</th>
                        <th scope="col">數量</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @*<tr class="table-warning " align="center">
                        <th scope="row"><input type="checkbox" /></th>
                        <td><img src="~/images/Product/@imgName" style="width:25%" alt="圖片"></td>
                        <td><a>@Model.ProductName</a></td>
                        <td>NT$&nbsp:@UnitPrice</td>
                        <td><input type="number" value="1"></td>
                        <td><input type="button" value="下次再買" /></td>
                    </tr>*@
                </tbody>
            </table>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-7 mt-5">
            <div class="d-grid gap-2">
                <a href="#" class="btn btn-warning btn-lg">前往結帳</a>
            </div>
        </div>
    </div>

</div>

