

    <section class="page-content">
        <div class="container pt-5 pb-5">
            <div class="row">
                <!-- 產品清單/start -->
                <div class="col-12 mb-3">
                    <h2 class="mb-3">購物車</h2>
                    <div class="table-responsive-sm table-middle">
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col" class="product-remove">&nbsp;</th>
                                    <th scope="col" class="product-thumbnail">圖片</th>
                                    <th scope="col" class="product-name">名稱</th>
                                    <th scope="col" class="product-price">價格</th>
                                    <th scope="col" class="product-quantity">數量</th>
                                    <th scope="col" class="product-subtotal">總計</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="product-remove">
                                        <a class="remove text-white" data-toggle="tooltip" data-placement="top"
                                           title="" data-original-title="是否確定要移除">X</a>
                                    </td>
                                    <td class="product-thumbnail">
                                        <a href="product.html">
                                            <img src="https://picsum.photos/id/237/600/400" alt="LTG-BY-0001" class="img-fluid">
                                        </a>
                                    </td>
                                    <td class="product-name">
                                        <a href="product.html">貓貓罐頭</a>
                                    </td>
                                    <td class="product-price">NT$&nbsp;500</td>
                                    <td class="product-quantity">
                                        <input type="number" value="1">
                                    </td>
                                    <td class="product-subtotal">NT$&nbsp;500</td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- 產品清單/end -->
                <!-- 產品統計/start -->
                <div class="container">
                    <div class="row">
                        <div class="col-6 offset-6">
                            <h2>購物車總計</h2>
                            <div class="table-responsive-sm">
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <td>小計</td>
                                            <td>NT$&nbsp;1500</td>
                                        </tr>
                                        <tr class="bg-danger bg-opacity-25">
                                            <td>總計</td>
                                            <td>NT$&nbsp;1500</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="2">
                                                <a href="checkout.html"
                                                   class="btn btn-outline-danger btn-lg float-right">前往結帳</a>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 產品統計/end -->
            </div>
        </div>
    </section>

