@model IEnumerable<PetsWebsite.Models.Product>


<div class="container">

    @foreach (var item in Model)
    {
        @*<partial name="_ProductPartial" model="item" />*@
        @await Html.PartialAsync("_ShoppingCartPartial", item)
    }

    <div class="row justify-content-center">
        <div class="col-7 mt-5">
            <div class="d-grid gap-2">
                <a href="#" class="btn btn-warning btn-lg">前往結帳</a>
            </div>
        </div>
    </div>

</div>

