@*審核商品頁面*@
<div class="contanier mx-5 pt-5 h-100" id="">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="product-tab" data-bs-toggle="tab" data-bs-target="#product"
                    type="button" role="tab" aria-controls="product" aria-selected="true">
                待審商品
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="restaurant-tab" data-bs-toggle="tab" data-bs-target="#restaurant" type="button"
                    role="tab" aria-controls="restaurant" aria-selected="false">
                待審餐廳
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="clinic-tab" data-bs-toggle="tab" data-bs-target="#clinic" type="button"
                    role="tab" aria-controls="clinic" aria-selected="false">
                待審診所
            </button>
        </li>
    </ul>
    <div class="tab-content" id="auditProduct">
        <div class="tab-pane fade bg-light pb-3 show active" id="product" role="tabpanel" aria-labelledby="product-tab">
            <div class="contanier mx-5 pt-5">
                <div class="row mb-2 d-flex justify-content-around">
                    <h3 class="col col-5 text-danger d-flex justify-content-center">
                        <strong v-bind:hidden="showNoProduct">無待審商品!</strong>
                    </h3>
                </div>
                <table class="table table-success table-striped">
                    <thead>
                        <tr>
                            <th scope="col">圖片</th>
                            <th scope="col">商品</th>
                            <th scope="col">商品單價</th>
                            <th scope="col">商品折扣</th>
                            <th scope="col">商品描述</th>
                            <th scope="col">審核</th>
                        </tr>
                    </thead>
                    <tbody v-for="item in auditProductList">
                        <tr class="">
                            <td scope="row">
                                <img v-bind:src="'/images/Product/' + item.photoPath"
                                     style="width: 100px; height: 80px;" alt="">
                            </td>
                            <td>
                                <p class="text-truncate" style="width: 200px;">ID : {{item.productId}}</p>
                                <p class="text-truncate" style="width: 200px;">名稱 : {{item.productName}}</p>
                            </td>
                            <td>
                                {{item.unitPrice}}
                            </td>
                            <td>
                                {{item.discount}}
                            </td>
                            <td>
                                <p class="text-truncate" style="width: 80px;">
                                    {{item.describe}}
                                </p>
                            </td>
                            <td>
                                <a v-on:click="clickAuditProduct(item)" class="btn btn-outline-danger">
                                    開始審核
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade bg-light pb-3" id="restaurant" role="tabpanel" aria-labelledby="restaurant-tab">
            <div class="contanier mx-5 pt-5">
                <div class="row mb-2 d-flex justify-content-around">
                    <h3 class="col col-5 text-danger d-flex justify-content-center">
                        <strong v-bind:hidden="showNoRestaurant">無待審餐廳!</strong>
                    </h3>
                </div>
                <table class="table table-success table-striped">
                    <thead>
                        <tr>
                            <th scope="col">圖片</th>
                            <th scope="col">餐廳名稱</th>
                            <th scope="col">電話</th>
                            <th scope="col">城市</th>
                            <th scope="col">地區</th>
                            <th scope="col">地址</th>
                            <th scope="col">餐廳簡述</th>
                            <th scope="col">審核</th>
                        </tr>
                    </thead>
                    <tbody v-for="item in auditRestaurantList">
                        <tr class="">
                            <td scope="row">
                                <img v-bind:src="'/images/Restaurant/' + item.photoPath"
                                     style="width: 100px; height: 80px;" alt="">
                            </td>
                            <td>
                                <p class="text-truncate" style="width: 200px;">ID : {{item.restaurantId}}</p>
                                <p class="text-truncate" style="width: 200px;">名稱 : {{item.restaurantName}}</p>
                            </td>
                            <td>{{item.phone}}</td>
                            <td>{{item.city}}</td>
                            <td>{{item.region}}</td>
                            <td>
                                <p style="width: 80px; height: 20px; text-overflow: ellipsis; white-space: wrap; overflow: hidden;">
                                    {{item.address}}
                                </p>
                            </td>
                            <td>
                                <p style="width: 80px; height: 20px; text-overflow: ellipsis; white-space: wrap; overflow: hidden;">
                                    {{item.introduction}}
                                </p>
                            </td>
                            <td>
                                <a v-on:click="clickAuditRestaurant(item)" class="btn btn-outline-danger">
                                    開始審核
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade bg-light pb-3" id="clinic" role="tabpanel" aria-labelledby="clinic-tab">
            <div class="contanier mx-5 pt-5">
                <div class="row mb-2 d-flex justify-content-around">
                    <h3 class="col col-5 text-danger d-flex justify-content-center">
                        <strong v-bind:hidden="showNoClinic">無待審診所!</strong>
                    </h3>
                </div>
                <table class="table table-success table-striped">
                    <thead>
                        <tr>
                            <th scope="col">圖片</th>
                            <th scope="col">診所名稱</th>
                            <th scope="col">電話</th>
                            <th scope="col">城市</th>
                            <th scope="col">地區</th>
                            <th scope="col">地址</th>
                            <th scope="col">診所簡述</th>
                            <th scope="col">急診</th>
                            <th scope="col">審核</th>
                        </tr>
                    </thead>
                    <tbody v-for="item in auditClinicList">
                        <tr class="">
                            <td scope="row">
                                <img v-bind:src="'/images/Clinic/' + item.photoPath" style="width: 100px; height: 80px;" alt="">
                            </td>
                            <td>
                                <p class="text-truncate" style="width: 200px;">ID : {{item.clinicId}}</p>
                                <p class="text-truncate" style="width: 200px;">名稱 : {{item.clinicName}}</p>
                            </td>
                            <td>{{item.phone}}</td>
                            <td>{{item.city}}</td>
                            <td>{{item.region}}</td>
                            <td>
                                <p style="width: 80px; height: 20px; text-overflow: ellipsis; white-space: wrap; overflow: hidden;">
                                    {{item.address}}
                                </p>
                            </td>
                            <td>
                                <p style="width: 80px; height: 20px; text-overflow: ellipsis; white-space: wrap; overflow: hidden;">
                                    {{item.describe}}
                                </p>
                            </td>
                            <td>{{item.emergency == true? "有" : "無"}}</td>
                            <td>
                                <a class="btn btn-outline-danger" v-on:click="clickAuditClinic(item)">開始審核</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        var auditvm = new Vue({
            el: "#auditProduct",
            data: {
                auditProductList: [],
                auditRestaurantList: [],
                auditClinicList: [],
                showNoProduct: true,
                showNoRestaurant: true,
                showNoClinic: true
            },
            mounted: function() {
                this.getAuditProduct();
                this.getAuditRestaurant();
                this.getAuditClinic();
            },
            methods: {
                getAuditProduct: function() {
                    fetch('/Admin/GetAuditProduct')
                        .then(function(response) {
                            return response.json()
                        })
                        .then(function(result) {
                            if (result != null) {
                                auditvm.auditProductList = result
                                this.showNoProduct = true;
                            }
                            else {
                                this.showNoProduct = false;
                            }
                        })
                },
                getAuditRestaurant: function() {
                    $.ajax({
                        url: '/Admin/GetAuditRestaurant',
                        type: 'GET'
                    })
                    .done(function(res) {
                        if (res != null) {
                            auditvm.auditRestaurantList = res;
                            this.showNoRestaurant = true;
                        }
                        else {
                            this.showNoRestaurant = false;
                        }
                    }).fail(function(err) {
                        console.log("getAuditRestaurantErr: ", err)
                    })
                },
                getAuditClinic: function() {
                    $.ajax({
                        url: '/Admin/GetAuditClinic',
                        type: 'GET'
                    }).done(function(res) {
                        if (res != null) {
                            auditvm.auditClinicList = res;
                            this.showNoClinic = true;
                        } else {
                            this.showNoClinic = false;
                        }
                    }).fail(function(err) {
                        console.log("getAuditClinicErr: ", err);
                    })
                },
                clickAuditProduct: function(item) {
                    var productId = item.productId;
                    $.ajax({
                        url: `/Admin/StartAuditProduct/${productId}`,
                        type: 'GET'
                    })
                        .done(function(res) {
                            if (res) {
                                window.location.href = "/Admin/AuditProductPage"
                            }
                        }).fail(function(err) {
                            console.log("clickAuditProductErr: ", err)
                        })
                },
                clickAuditRestaurant: function(item) {
                    var restaurantId = item.restaurantId;
                    $.ajax({
                        url: `/Admin/StartAuditRestaurant/${restaurantId}`,
                        type: 'GET'
                    })
                    .done(function(res) {
                        if (res) {
                            window.location.href = "/Admin/AuditRestaurantPage";
                        }
                    })
                    .fail(function(err) {
                        console.log("clickAuditRestaurantErr: ", err)
                    })
                },
                clickAuditClinic: function(item) {
                    var clinicId = item.clinicId;
                    $.ajax({
                        url: `/Admin/StartAuditClinic/${clinicId}`,
                        type: 'GET'
                    })
                    .done(function(res) {
                        if (res) {
                            window.location.href = "/Admin/AuditClinicPage";
                        }
                    })
                    .fail(function(err) {
                        console.log("clickAuditClinicErr: ", err)
                    })
                }
            }
        });
    </script>
}