@*審核商品頁面*@
<div class="contanier mx-5 pt-5 h-100" id="ownerManage">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="product-tab" data-bs-toggle="tab" data-bs-target="#product"
                    type="button" role="tab" aria-controls="product" aria-selected="true">
                我的商品
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="restaurant-tab" data-bs-toggle="tab" data-bs-target="#restaurant" type="button"
                    role="tab" aria-controls="restaurant" aria-selected="false" v-on:click="getMyRestaurant">
                我的餐廳
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="clinic-tab" data-bs-toggle="tab" data-bs-target="#clinic" type="button"
                    role="tab" aria-controls="clinic" aria-selected="false" v-on:click="GetMyClinic">
                我的診所
            </button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade bg-light show active" id="product" role="tabpanel" aria-labelledby="product-tab">
            <div class="contanier mx-5 pt-5">
                <div class="row mb-2 d-flex justify-content-around">
                    <h3 class="col col-5 text-danger d-flex justify-content-center">
                        <strong v-bind:hidden="noProduct">未找到任何商品!</strong>
                    </h3>
                </div>
                <table class="table table-light table-striped">
                    <thead>
                        <tr>
                            <th scope="col">圖片</th>
                            <th scope="col">商品</th>
                            <th scope="col">
                                <button class="btn p-0 border-0" onclick="orderProductPriceAsc()">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-arrow-down-short" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                              d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z" />
                                    </svg>
                                </button>
                                商品單價
                                <button class="btn p-0 border-0" onclick="orderProductPriceDesc()">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-arrow-up-short" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                              d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z" />
                                    </svg>
                                </button>
                            </th>
                            <th scope="col">商品折扣</th>
                            <th scope="col">
                                <button class="btn p-0 border-0" onclick="orderProductUnitsInStockAsc()">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-arrow-down-short" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                              d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z" />
                                    </svg>
                                </button>
                                庫存量
                                <button class="btn p-0 border-0" onclick="orderProductUnitsInStockDesc()">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-arrow-up-short" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                              d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z" />
                                    </svg>
                                </button>
                            </th>
                            <th scope="col">商品描述</th>
                            <th scope="col">修改商品資訊</th>
                            <th scope="col">下架商品</th>
                            <th scope="col">商品狀態</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="" v-for="item in productList">
                            <td scope="row">
                                <img v-bind:src="'/images/Product/' + item.photoPath"
                                     style="width: 100px; height: 80px;" alt="">
                            </td>
                            <td>
                                <p class="text-truncate" style="width: 200px;">ID : {{item.productId}}</p>
                                <p class="text-truncate" style="width: 200px;">名稱 : {{item.productName}}</p>
                            </td>
                            <td>
                                <div class="d-flex justify-content-center">
                                    {{item.unitPrice}}
                                </div>
                            </td>
                            <td>
                                <div class="d-flex justify-content-center">
                                    折扣
                                </div>
                            </td>
                            <td>
                                <div class="d-flex justify-content-center unitsInStock">
                                    {{item.unitsInStock}}
                                </div>
                            </td>
                            <td>
                                <p class="text-truncate" style="width: 80px;" v-bind:title="item.describe">
                                    {{item.describe}}
                                </p>
                            </td>
                            <td>
                                <a v-bind:href="'/Owner/EditProduct/' + item.productId" v-bind:value="item.productId"
                                   class="btn btn-outline-warning" type="submit">修改</a>
                            </td>
                            <td>
                                <button v-bind:value="item.productId" v-on:click="deleteProduct" class="btn btn-outline-danger"
                                        type="submit">
                                    下架
                                </button>
                            </td>
                            <td>{{item.state == true? "已上架" : "審核中..."}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade bg-light" id="restaurant" role="tabpanel" aria-labelledby="restaurant-tab">
            <div class="contanier mx-5 pt-5">
                <div class="row">
                    <a class="btn btn-outline-success col col-2 ms-4 mb-2" style="right: 5%;"
                       href="/Owner/CreateRestaurant">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-plus-lg" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
                        </svg>
                        新增餐廳
                    </a>
                </div>
                <table class="table table-light table-striped">
                    <thead>
                        <tr>
                            <th scope="col">圖片</th>
                            <th scope="col">餐廳名稱</th>
                            <th scope="col">電話</th>
                            <th scope="col">城市</th>
                            <th scope="col">地區</th>
                            <th scope="col">地址</th>
                            <th scope="col">餐廳簡述</th>
                            <th scope="col">修改餐廳資訊</th>
                            <th scope="col">下架餐廳</th>
                            <th scope="col">餐廳狀態</th>
                        </tr>
                    </thead>
                    <tbody v-for="item in restaurantList">
                        <tr class="">
                            <td scope="row">
                                <img v-bind:src="'/images/Restaurant/' + item.photoPath"
                                     style="width: 100px; height: 80px;" alt="">
                            </td>
                            <td>{{item.restaurantName}}</td>
                            <td>{{item.phone}}</td>
                            <td>{{item.city}}</td>
                            <td>{{item.region}}</td>
                            <td>
                                <p style="width: 80px; height: 20px; text-overflow: ellipsis; white-space: wrap; overflow: hidden;"
                                   v-bind:title="item.address">
                                    {{item.address}}
                                </p>
                            </td>
                            <td>
                                <p style="width: 80px; height: 20px; text-overflow: ellipsis; white-space: wrap; overflow: hidden;"
                                   v-bind:title="item.introduction">
                                    {{item.introduction}}
                                </p>
                            </td>
                            <td>
                                <a v-bind:href="'/Owner/EditRestaurant/' + item.restaurantId" class="btn btn-warning"
                                   type="submit">修改</a>
                            </td>
                            <td>
                                <button v-bind:value="item.restaurantId" v-on:click="deleteRestaurant"
                                        class="btn btn-danger" type="submit">
                                    下架
                                </button>
                            </td>
                            <td>已上架</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade bg-light" id="clinic" role="tabpanel" aria-labelledby="clinic-tab">
            <div class="contanier mx-5 pt-5">
                <div class="row">
                    <a class="btn btn-outline-success col col-2 ms-4 mb-2" style="right: 5%;"
                       href="/Owner/CreateClinic">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-plus-lg" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
                        </svg>
                        新增診所
                    </a>
                </div>
                <table class="table table-light table-striped">
                    <thead>
                        <tr>
                            <th scope="col">圖片</th>
                            <th scope="col">診所名稱</th>
                            <th scope="col">電話</th>
                            <th scope="col">城市</th>
                            <th scope="col">地區</th>
                            <th scope="col">地址</th>
                            <th scope="col">診所簡述</th>
                            <th scope="col">急診</th>
                            <th scope="col">修改診所資訊</th>
                            <th scope="col">下架診所</th>
                            <th scope="col">商品狀態</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="" v-for="item in ClinicList">
                            <td scope="row">
                                <img src="/images/Owner/動物醫院.png" style="width: 100px; height: 80px;" alt="">
                            </td>
                            <td>{{item.clinicName}}</td>
                            <td>{{item.phone}}</td>
                            <td>{{item.city}}</td>
                            <td>{{item.region}}</td>
                            <td>
                                <p style="width: 80px; height: 20px; text-overflow: ellipsis; white-space: wrap; overflow: hidden;">
                                    {{item.address}}
                                </p>
                            </td>
                            <td>
                                <p style="width: 80px; height: 20px; text-overflow: ellipsis; white-space: wrap; overflow: hidden;">
                                    {{item.describe}}
                                </p>
                            </td>
                            <td>{{item.emergency}}</td>
                            <td>
                                <a class="btn btn-warning" type="submit">修改</a>
                            </td>
                            <td>
                                <a class="btn btn-danger" type="submit">下架</a>
                            </td>
                            <td>已上架</td>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <a class="btn btn-primary position-absolute col col-1" style="right: 5%;" asp-action="CreateProduct"
                       asp-controller="Owner">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-plus-lg" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
                        </svg>
                        新增診所
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>