@model IEnumerable<PetsWebsite.Models.Product>
<div class="container">

    <div class="row">
        <div class="col-4  offset-4">
        <h1>❤已收藏商品❤</h1>
        </div>
    </div>



<div class="row">

        @foreach (var item in Model)
        {

            int UnitPrice = Convert.ToInt32(item.UnitPrice);
        <div class="col-5 col-md-3 mt-3">
            <div class="img-thumbnail cardlight">
                <img src="~/images/Product/@item.PhotoPath" style="width:50%">
                <div class="row mt-1 ms-2">
                    <div class="col">
                        <h4 class="text-danger">單價：@UnitPrice</h4>
                        <h6>@item.ProductName</h6>
                    </div>
                </div>
                <div class="d-grid gap-2 mt-1">
                     <button class="btn btn-warning btn-sm" value=@item.ProductId  onclick="AddShopCar(event)">放入購物車</button>
                </div>
                <div class="d-grid gap-2 ">
                     <a asp-controller="ShoppingCart" asp-action="Index" asp-route-id="@item.ProductId" class="btn btn-primary btn-sm text-light">刪除</a>
                </div>

            </div>
        </div>
        }
</div>
</div>

