@model IEnumerable<PetsWebsite.Models.Product>


<div class="container mt-3">
    <form asp-action="Index">
        <div class="container">
            <div class="row justify-content-end">
                @*中間大圖*@
                @*<img src="~/images/Product/Shop.jpg" />*@
                @*麵包屑*@
                <div class="col-10 mt-5">
                    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="~/Home/Index">首頁</a></li>
                            <li class="breadcrumb-item active" aria-current="page">寵物商城</li>
                        </ol>
                    </nav>
                </div>
                @*查詢框*@
                <div class="col-2 justify-content-md-end mt-2">
                    <input type="text" class="form-control" name="txtKeyword" placeholder="請輸入商品關鍵字" required />
                </div>
            </div>
        </div>
    </form>


    <div>
        <div class="container  mt-3">
            <div class="row">
                @*遞增遞減*@
                <div class="col-4 justify-content-start ">
                    <div class="input-group">
                        <a asp-action="Index" asp-route-id="2" class="btn btn-danger">▲</a>
                        <a asp-action="Index" asp-route-id="1" class="btn btn-success">▼</a>

                    </div>
                </div>



                @*選擇種類*@
                <div class="col-2 offset-6">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            請選擇您的寵物類型
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a asp-action="Index" asp-route-id="3" class="dropdown-item">犬貓</a></li>
                            <li><a asp-action="Index" asp-route-id="4" class="dropdown-item">其他</a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        @foreach (var item in Model)
        {
            @*<partial name="_ProductPartial" model="item" />*@
            @await Html.PartialAsync("_ProductPartial", item)
        }
    </div>
</div>
@section Scripts{
    <script>
        function AddShopCar(e) {
            fetch("/api/ShoppingCar/AddShopCar/" + e.target.value)
                .then(res => res.json())
                .then(result => {
                    if (result) {
                        ShopCar.reLoadData();
                        swal({
                            title: '已加入購物車',
                            type: 'success',
                            closeOnClickOutside: false,
                            icon: "success",
                            timer: 1000
                        });
                    }
                })
        }
    </script>
}