@model IEnumerable<PetsWebsite.Models.Product>

<div class="container mt-3">
    <div class="container">
        <div class="row">
            @*中間大圖*@
            @*<img src="~/images/Product/Shop.jpg" />*@
            @*麵包屑*@
            <div class="col-5 mt-5">
                <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="~/Home/Index">首頁</a></li>
                        <li class="breadcrumb-item active" aria-current="page">寵物商城</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>




    <div class="container">
        <div class="row">
            @*遞增遞減*@
            <div class="col-4 justify-content-start ">
                <div class="input-group">
                    <a asp-action="Index" asp-route-id="2" class="btn btn-primary">價格高到低</a>
                    <a asp-action="Index" asp-route-id="1" class="btn btn-primary">價格低到高</a>
                    <a asp-action="Index" asp-route-id="3" class="btn btn-primary">犬貓</a>
                    <a asp-action="Index" asp-route-id="4" class="btn btn-primary">非犬貓</a>

                </div>
            </div>
            <div class="col-4  offset-4">
                <form asp-action="Index">
                    <div class="container">
                        <div class="row justify-content-end">

                            @*查詢框*@
                            <div class="col-12">
                                <input type="text" class="form-control" name="txtKeyword" placeholder="請輸入商品關鍵字" required />

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>



    <div class="row">
        @{
            //modal的id

            int index = 0;


        }
        @foreach (var item in Model)
        {
            @*modal的id++，單價去小數*@
            index++;
            int UnitPrice = Convert.ToInt32(item.UnitPrice);

            <div class="col-12 col-md-3 mt-3 border border-0">
                <div class="img-thumbnail cardlight border border-0">
                    <img src="~/images/Product/@item.PhotoPath" style="width:100%" alt="目前無圖片，請稍後再試" />
                    <div class="row mt-1 ms-2">

                        <div class="col-6">
                            <h4 class="text-danger" style="font-weight:bold;">$&nbsp;@UnitPrice</h4>
                        </div>
                        <div class="col-3 offset-3 mt-1">
                            <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                                <input type="checkbox" class="btn-check" id="btncheck1_@index" autocomplete="off">
                                <label class="btn btn-outline-danger btn-sm" for="btncheck1_@index">
                                    ❤
                                </label>
                            </div>
                        </div>
                        <p class="fs-6" style="display: -webkit-box;-webkit-box-orient: vertical; text-overflow: ellipsis; white-space: normal; overflow: hidden; -webkit-line-clamp: 2;"> @item.ProductName</p>

                    </div>

                    <div class="container">
                        <div class="row">

                            <div class="d-grid gap-2 mt-1">
                                <button class="btn btn-warning btn-sm" value=@item.ProductId onclick="AddShopCar(event)">放入購物車</button>
                            </div>
                            <div class="d-grid gap-2 mt-1">
                                <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#myModal_@index">詳細資訊</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal fade" id="myModal_@index">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header bg-primary">
                            <div class="container">
                                <div class="row">
                                    <div class="col-6 offset-4">
                                        <h3 class="modal-title align-content-center" style="font-weight:900;font-size:xx-large;" >@item.ProductName </h3>
                                        @*<button type="button" class="btn-close" data-bs-dismiss="modal"></button>*@
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-6">
                                        <img class="card-img-top" src="~/images/Product/@item.PhotoPath" style="width:85%" alt="目前無圖片，請稍後再試" />
                                    </div>
                                    <div class="col-6">
                                        <h1 >
                                            @item.Describe
                                        </h1>
                                    </div>
                                    <div class="row  align-items-end justify-content-end mt-0">
                                    <div class="col-3 offset-6" style="font-weight:bold;">
                                        <h2 class="text-danger" align="right">
                                            單價:$&nbsp;@UnitPrice
                                        </h2>
                                    </div>
                                    <div class="col-2 offset-1">
                                        <b align="right">
                                            目前庫存:@item.UnitsInStock
                                        </b>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Modal footer -->

                        <div class="modal-footer">
                            <div class="container">
                                <div class="row">
                                    <div class="col-6 d-grid gap-2 mt-1">
                                        <button class="btn btn-primary btn-sm text-light" value=@item.ProductId onclick="CheckoutShopCar(event)">直接結帳</button>
                                    </div>
                                    <div class="col-6 d-grid gap-2 mt-1">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        }
    </div>
</div>
@section Scripts{
    <script>
        function AddShopCar(e) {
            fetch("/api/ShoppingCar/AddShopCar/" + e.target.value)
                .then(res => res.json())
                .then(result => {
                    if (result) {
                        ShopCar.reLoadData();
                        swal({
                            title: '已加入購物車',
                            type: 'success',
                            closeOnClickOutside: false,
                            icon: "success",
                            timer: 1000,
                            button: false,
                        });
                    }
                })
        }
        function CheckoutShopCar(e) {
            fetch("/api/ShoppingCar/AddShopCar/" + e.target.value)
                .then(res => res.json())
                .then(result => {
                    if (result) {
                        ShopCar.reLoadData();
                        window.location.href = `/ShoppingCart/Index`;
                    }
                })
        }
    </script>
}