@model IEnumerable<PetsWebsite.Models.Product>


<div class="container mt-3">
    <div class="container">
        <div class="row">
            @*中間大圖*@
            @*<img src="~/images/Product/Shop.jpg" />*@
            @*麵包屑*@
            <div class="col-5 mt-5">
                <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="~/Home/Index">首頁</a></li>
                        <li class="breadcrumb-item active" aria-current="page">寵物商城</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>




    <div class="container">
        <div class="row">
            @*遞增遞減*@
            <div class="col-4 justify-content-start ">
                <div class="input-group">
                    <a asp-action="Index" asp-route-id="2" class="btn btn-primary">價格高到低</a>
                    <a asp-action="Index" asp-route-id="1" class="btn btn-primary">價格低到高</a>
                    <a asp-action="Index" asp-route-id="3" class="btn btn-primary">犬貓</a>
                    <a asp-action="Index" asp-route-id="4" class="btn btn-primary">非犬貓</a>

                </div>
            </div>
            <div class="col-4  offset-4">
                <form asp-action="Index">
                    <div class="container">
                        <div class="row justify-content-end">

                            @*查詢框*@
                            <div class="col-12">
                                <input type="text" class="form-control" name="txtKeyword" placeholder="請輸入商品關鍵字" required />

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>



    <div class="row">
        @foreach (var item in Model)
        {
            @*<partial name="_ProductPartial" model="item" />*@
            @await Html.PartialAsync("_ProductPartial", item)
        }
    </div>
</div>
@section Scripts{
    <script>
        function AddShopCar(e) {
            fetch("/api/ShoppingCar/AddShopCar/" + e.target.value)
                .then(res => res.json())
                .then(result => {
                    if (result) {
                        ShopCar.reLoadData();
                        swal({
                            title: '已加入購物車',
                            type: 'success',
                            closeOnClickOutside: false,
                            icon: "success",
                            timer: 1000,
                            button: false,
                        });
                    }
                })
        }
    </script>
}