<!doctype html>
<html lang="en">

<head>
    <title>shop</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.0-beta1 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">


</head>

<body>
    <div class="container">
        <!--中間圖片-->
        <div class="row justify-content-center">

            <img src="https://picsum.photos/id/431/1700/300" alt="">
            <div class="row justify-content-start col-10">
                <!--選擇列表-->
                <div class="container">
                    <div class="row justify-content-center mt-2 ">
                        <div class="col-3">
                            <select class="form-select">
                                <option value="1" selected>非犬貓</option>
                                <option value="2" selected>犬貓</option>
                            </select>
                        </div>
                        <div class="col-3 offset-4">
                            <select class="form-select">
                                <option value="1" selected>地區</option>
                                <option value="2" selected>類型</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!--商品卡片-->
                <div class="row justify-content-center mt-2">

                    <div class="card" style="width: 18rem;">
                        <img src="https://picsum.photos/id/237/600/400" alt="" class="card-img-top" alt="...">
                        <div class="row  align-items-end">
                            <div class="card-body">
                                <h5 class="card-title">貓貓罐頭</h5>
                                <p class="card-text">成貓主食湯罐150克【鮪魚+鮭魚】(1入)(貓主食罐頭)</p>
                                <div class="row align-items-end">
                                    <a href="#" class="btn btn-primary btn-sm">直接購買</a>
                                    <a href="#" class="btn btn-warning btn-sm">放入購物車</a>
                                    <a href="#" class="btn btn-outline-danger btn-sm">❤收藏</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card" style="width: 18rem;">
                        <img src="https://picsum.photos/id/237/600/400" alt="" class="card-img-top" alt="...">
                        <div class="row  align-items-end">
                            <div class="card-body">
                                <h5 class="card-title">食在好抓窩</h5>
                                <p class="card-text">【買1送3 現省$259】食在好抓窩 抓狂超殺組 時空羅盤軌道抓板</p>
                                <div class="row align-items-end">
                                    <a href="#" class="btn btn-primary btn-sm">直接購買</a>
                                    <a href="#" class="btn btn-warning btn-sm">放入購物車</a>
                                    <a href="#" class="btn btn-outline-danger btn-sm">❤收藏</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card" style="width: 18rem;">
                        <img src="https://picsum.photos/id/237/600/400" alt="" class="card-img-top" alt="...">
                        <div class="row  align-items-end">
                            <div class="card-body">
                                <h5 class="card-title">逗貓棒</h5>
                                <p class="card-text">電動不倒翁逗貓棒 天藍(7x7x15公分)(貓玩具)</p>
                                <div class="row align-items-end">
                                    <a href="#" class="btn btn-primary btn-sm">直接購買</a>
                                    <a href="#" class="btn btn-warning btn-sm">放入購物車</a>
                                    <a href="#" class="btn btn-outline-danger btn-sm">❤收藏</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card" style="width: 18rem;">
                        <img src="https://picsum.photos/id/1025/600/400" alt="" class="card-img-top" alt="...">
                        <div class="row  align-items-end">
                            <div class="card-body">
                                <h5 class="card-title">狗狗蘿蔔</h5>
                                <p class="card-text">【買1送2組合 現省$435!】汪老先生有塊蘿蔔園! 藏食玩具 嗅聞訓練</p>
                                <div class="row align-items-end">
                                    <a href="#" class="btn btn-primary btn-sm">直接購買</a>
                                    <a href="#" class="btn btn-warning btn-sm">放入購物車</a>
                                    <a href="#" class="btn btn-outline-danger btn-sm">❤收藏</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card" style="width: 18rem;">
                        <img src="https://picsum.photos/id/1025/600/400" alt="" class="card-img-top" alt="...">
                        <div class="row  align-items-end">
                            <div class="card-body">
                                <h5 class="card-title">狗狗玩具</h5>
                                <p class="card-text">嬉皮河馬玩具(24x13公分)(狗玩具)滿額現折</p>
                                <div class="row align-items-end">
                                    <a href="#" class="btn btn-primary btn-sm">直接購買</a>
                                    <a href="#" class="btn btn-warning btn-sm">放入購物車</a>
                                    <a href="#" class="btn btn-outline-danger btn-sm">❤收藏</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card" style="width: 18rem;">
                        <img src="https://picsum.photos/id/1025/600/400" alt="" class="card-img-top" alt="...">
                        <div class="row  align-items-end">
                            <div class="card-body">
                                <h5 class="card-title">狗狗圍巾</h5>
                                <p class="card-text">夏日寵物涼感巾 紅點點L號(38~83公分)</p>
                                <div class="row align-items-end">
                                    <a href="#" class="btn btn-primary btn-sm">直接購買</a>
                                    <a href="#" class="btn btn-warning btn-sm">放入購物車</a>
                                    <a href="#" class="btn btn-outline-danger btn-sm">❤收藏</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card" style="width: 18rem;">
                        <img src="https://picsum.photos/id/1025/600/400" alt="" class="card-img-top" alt="...">
                        <div class="row  align-items-end">
                            <div class="card-body">
                                <h5 class="card-title">逗貓棒</h5>
                                <p class="card-text">小鸚鵡貓薄荷逗貓棒 黃綠(9.2x4.6公分)(貓玩具)</p>
                                <div class="row align-items-end">
                                    <a href="#" class="btn btn-primary btn-sm">直接購買</a>
                                    <a href="#" class="btn btn-warning btn-sm">放入購物車</a>
                                    <a href="#" class="btn btn-outline-danger btn-sm">❤收藏</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card" style="width: 18rem;">
                        <img src="https://picsum.photos/id/1025/600/400" alt="" class="card-img-top" alt="...">
                        <div class="row  align-items-end">
                            <div class="card-body">
                                <h5 class="card-title">寵物飲水機</h5>
                                <p class="card-text">無線馬達寵物飲水機 1.7L單筆訂單滿 $2500 送 毛孩市集手繪收納籃</p>
                                <div class="row align-items-end">
                                    <a href="#" class="btn btn-primary btn-sm">直接購買</a>
                                    <a href="#" class="btn btn-warning btn-sm">放入購物車</a>
                                    <a href="#" class="btn btn-outline-danger btn-sm">❤收藏</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="https://picsum.photos/id/1025/600/400" alt="" class="card-img-top" alt="...">
                        <div class="row  align-items-end">
                            <div class="card-body">
                                <h5 class="card-title">寵物飲水機</h5>
                                <p class="card-text">無線馬達寵物飲水機 1.7L單筆訂單滿 $2500 送 毛孩市集手繪收納籃</p>
                                <div class="row align-items-end">
                                    <a href="#" class="btn btn-primary btn-sm">直接購買</a>
                                    <a href="#" class="btn btn-warning btn-sm">放入購物車</a>
                                    <a href="#" class="btn btn-outline-danger btn-sm">❤收藏</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row justify-content-center mt-5 col-10 offset-9">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.11.5/dist/umd/popper.min.js"
            integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
            crossorigin="anonymous">
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
            integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
            crossorigin="anonymous">
    </script>

</body>

</html>