@{
    Layout = null;
}




<!-- Jumbotron -->
<body style="background-color:#E5E5E5;margin:0;padding:0">
    <header>
        <div style="background-color:#f2cc8f;display:flex;justify-content:center;">
            <img src="/images/pet-food.svg" class="img-fluid" style="width:120px;height:80px;"><h1>寵物任我行</h1>
        </div>
    </header>
    <div class="container-fluid">
        <div style="display:flex; flex-wrap:nowrap ">
            
                <a href="https://liangyun423.wixsite.com/livinglabpet"></a>
                <img src="/images/index/indexpet.jpg" style="width:25%;height:100%;display:inline-block">
                <a href="https://liangyun423.wixsite.com/livinglabpet"></a>
                <img src="/images/index/indexpet2.jpg" style="width:25%;height:100%;display:inline-block">
                <a href="https://liangyun423.wixsite.com/livinglabpet"></a>
                <img src="/images/index/indexpet3.jpg" style="width:25%;height:100%;display:inline-block">
                <a href="https://liangyun423.wixsite.com/livinglabpet"></a>
                <img src="/images/index/indexpet4.jpg" style="width:25%;height:100%;display:inline-block">
            </div>
<<<<<<< Updated upstream
        </div>


@*<!-- 輪播 -->
<div>
    <div>
            <img src="https://pic03.eapple.com.tw/dacyun/DC_img086.jpg">

    </div>
</div>


<!-- 卡片 -->

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://picsum.photos/id/684/1600/400" class="w-100" alt="">
        </div>
        <div class="carousel-item">
            <img src="https://picsum.photos/id/684/1600/400" class="w-100" alt="">
        </div>
        <div class="carousel-item">
            <img src="https://picsum.photos/id/684/1600/400" class="w-100" alt="">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>*@
=======
    </div>
</body>
>>>>>>> Stashed changes
