@{
    Layout = null;
}




<!-- Jumbotron -->
<body style="background-color:#E5E5E5;margin:0;padding:0">
    <header>
        <div style="background-color:#f2cc8f;display:flex;justify-content:center;">
            <img src="/images/pet-food.svg" class="img-fluid" style="width:120px;height:80px;"><h1>寵物任我行</h1>
        </div>
    </header>
    <div class="container-fluid">
        <div style="display:flex; flex-wrap:nowrap ">
            
                <a href="https://liangyun423.wixsite.com/livinglabpet"></a>
                <img src="/images/index/indexpet.jpg" style="width:25%;height:100%;display:inline-block">
                <a href="https://liangyun423.wixsite.com/livinglabpet"></a>
                <img src="/images/index/indexpet2.jpg" style="width:25%;height:100%;display:inline-block">
                <a href="https://liangyun423.wixsite.com/livinglabpet"></a>
                <img src="/images/index/indexpet3.jpg" style="width:25%;height:100%;display:inline-block">
                <a href="https://liangyun423.wixsite.com/livinglabpet"></a>
                <img src="/images/index/indexpet4.jpg" style="width:25%;height:100%;display:inline-block">
            </div>
    </div>
</body>
