<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/Custscss/all.css" />
    <style>
        @{
            Layout = null;
        }
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            outline: none;
        }
        html,
        body {
            width: 100%;
            box-sizing: border-box;
            outline: none;
            margin: 0;
            padding: 0;
            overflow-x: hidden;
            color: #363433;
            font-size: 1rem;
        }

        .d_wrap {
            display: flex;
            flex-wrap: wrap;
        }
        .d_header{
            background-color:#f2cc8f;
        }
        .d_header img {
            display: block;
        }

        .img-fluid {
            max-width: 100%;
            height: auto;
        }

        img {
            vertical-align: middle;
            border-style: none;
        }
        .d_items a {
            display: block;
        }
        .d_items {
    
            
            width: 20%;
            flex: 1 1 auto;
            position: relative;
            overflow: hidden;
        }

        a, button {
            
            text-decoration: none;
            outline: none;
        }       

        .d_items a .d_logo {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            z-index: 2;
        }

        .d_items a i {
            
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            z-index: 1;
            
        }
        .d_items>a>.content {
          position:absolute;
          inset:0;
          text-decoration:none;
          font-size:2rem;
          background:rgba(255,255,255,.4);
          padding:1rem;
          display:flex;
          justify-content:center;
          align-items:center;
          color: darkred;
     }
       .d_items>a>img,
       .d_items>a>.content{
          transition:300ms ease-in-out;
      }
      .d_items:hover>a>img.blur{
          filter:blur(2px);
      }
      .d_items:hover>a>img.zoom{
          transform: scale(1.1);
      }
      .d_items>a>.content.fade{
           opacity:2;
       }
       .d_items:hover>a>.content.fade{
           opacity:0;
       }
        .d_items>a>.content.slide-left{
           transform:translatex(-100%)
       }
       .d_items:hover>a>.content.slide-left{
             transform:translatex(0)
       }
        .d_items>a>.content.slide-right{
           transform:translatex(100%)
       }
       .d_items:hover>a>.content.slide-right{
             transform:translatex(0)
       }
       .svgLogo{
           width:120px;
           height:80px;
       }

        @@media screen and (max-width: 1099px){
            .d_header {
                padding: 0.5em 1em;
            }
            .d_header img {
                width: 30%;
            }
        }


        
        @@media screen and (max-width: 976px){
            .d_items {
                width: 32%;
            }
        }
        @@media screen and (max-width: 1099px){
            .d_items a .d_logo {
                height: 20%;
            }
        }

        @@media screen and (max-width: 550px){
            .d_items {
                width: 32%;
                height:300px;
            }
            .phoneImg{
                height:300px;
                width:100%;
            }
            .svgLogo{
                width:50px;
                height:50px;
                margin-top: 6px;
            }
            .d_items>a>img,
            .d_items>a>.content{
                
                transition: 1000ms ease-in-out;
            }
            .d_items:hover>a>img.blur{
                filter:blur(2px);
            }
            .d_items:hover>a>img.zoom{
                transform: scale(1.1);
            }
            .d_items:hover>a>.content.fade{
                opacity:0;
            }
        }

            
    </style>
    <title>首頁</title>
</head>

<body style="">
    <header>
        <div class="d_header" style="display:flex;justify-content:center;">
            <img src="/images/pet-food.svg" class="svgLogo"><h1 style="margin-top: 1rem;"><strong >EveryPets</strong></h1>
        </div>
        
    </header>
    <div class="d_wrap" style="background-color:#f2cc8f;">

        <div class="d_items">
            <a asp-controller="Clinic" asp-action="Clinic" style="color:#333" title="醫療資訊">
                <strong class="content fade" >醫療資訊</strong> 
                <i></i>
                <img src="/images/index/indexpet4.jpg" data-src="no-img.jpg" class="img-fluid d_img lazyload blur zoom phoneImg"
                    alt="醫療資訊">
            </a>
        </div>

        <div class="d_items">
            <a asp-controller="Shop" asp-action="index" style="color:#333" class="active" title="購物專區">
              <i></i>
                <img src="/images/index/Petshop.jpg" data-src="no-img.jpg" class="img-fluid d_img lazyload blur zoom phoneImg" alt="購物專區">
                <strong class="content fade">購物專區</strong>
            </a>
        </div>

        <div class="d_items">
            <a asp-controller="Restaurants" asp-action="Restaurant" style="color:#333" title="寵物餐廳" class="h-100">
                <i></i>
                <img src="/images/index/PetRest.jpg" data-src="no-img.jpg" class="img-fluid d_img lazyload blur zoom phoneImg" alt="寵物餐廳" style="height:100%">
                <strong class="content fade">寵物餐廳</strong>
            </a>
        </div>

        <div class="d_items">
            <a asp-controller="PetsAboption" asp-action="PetsAboption" style="color:#333" title="領養專區">
                <i></i>
                <img src="/images/index/Adoption.jpg" data-src="no-img.jpg" class="img-fluid d_img lazyload blur zoom phoneImg" alt="領養專區">
                <strong class="content fade">領養專區</strong>
            </a>
        </div>

    </div>
       <footer class="footer text-muted bg-primary d-flex align-items-center" style="height: 64px">
        <div class="container">
            &copy; 2022 - PetsWebsite - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
</body>

</html>