
<link rel="stylesheet" href="~/css/AaronCSS/favoriteIcon.css" />
<style>
    #Jumbotron {
        flex-direction: column;
        opacity: 0.6;
        border-radius: 30px;
        padding: 3rem
    }

    .Clinic:visited {
        color: red;
        height: 272px !important;
    }

    #Card {
        overflow-y: hidden;
        overflow-x: hidden;
        width: 100%;
    }

        #Card img {
            transition: 200ms ease-in-out;
            opacity:0.5;
        }

            #Card img:hover {
                transform: scale(1.1);
                opacity:2;
            }
</style>

@*
    </head>*@



<div class="containers " id="Clinic">
   
    <!--jumbotron-->
    <div class="container mt-2">
        <div class="jumbotron bg-light  d-flex align-items-center" id="Jumbotron">
            <h1 class="display-4" style="font-weight:900">醫療資訊</h1>
            <p class="lead" style="font-weight:900">這邊可以提供您想查詢的醫療資訊</p>
        </div>
    </div>
     <!--麵包屑-->
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mt-3">
                <li class="breadcrumb-item"><a href="~/Home/Index" style="text-decoration:none;">首頁</a></li>
                <li class="breadcrumb-item"><a href="~/Clinic/Clinic" class="Clinic" style="text-decoration:none;">醫療資訊</a></li>
            </ol>
        </nav>
    </div>
    <!--下拉選取 -->
    <div class="container mt-3">
        <form class="row  flex-row-reverse" v-on:change="Getdata">
            <div class="col-6">
                <select id="inputState" class="form-select" v-model="selected.area">
                    <option selected disabled value="">請選擇地區</option>
                    <option v-for="area in Region" v-bind:value="area.AreaName">{{area.AreaName}}</option>
                </select>
            </div>
            <div class="col-6">
                <select id="inputCity" class="form-select" v-model="selected.city" v-on:change="GetRegion">
                    <option selected disabled value="">請選擇縣市</option>
                    <option v-for="(city, index) in City" v-bind:value="index">{{city.CityName}}</option>
                </select>
            </div>
        </form>
    </div>
    <!-- 關鍵字查詢 -->
    <div class="container d-flex justify-content-end">
        <div class="row">
            <div class=" ">
                <div class="col-12 me-1 mt-2">
                    <input type="text" placeholder="請輸入關鍵字.." class="form-control mb-2 me-1" v-model="search" v-on:change="Searchresult" />
                </div>
            </div>
        </div>
    </div>
    <!-- 卡片 -->
    <div class="container" v-show="show">
        <div class="row">
            <div class=" col-12 col-md-4 my-3" v-for="(item,index) in filterRest">
                <div class="card border-0 h-100">
                    <div id="Card">
                        <a :href="`Clinicinfo/${item.clinicId}`"><img class="card-img-top w-100 h-100" :src="'/images/Clinic/'+item.photoPath"></a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title" style="color:#f2cc8f;font-weight:900">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hospital" viewBox="0 0 16 16">
                                <path d="M8.5 5.034v1.1l.953-.55.5.867L9 7l.953.55-.5.866-.953-.55v1.1h-1v-1.1l-.953.55-.5-.866L7 7l-.953-.55.5-.866.953.55v-1.1h1ZM13.25 9a.25.25 0 0 0-.25.25v.5c0 .138.112.25.25.25h.5a.25.25 0 0 0 .25-.25v-.5a.25.25 0 0 0-.25-.25h-.5ZM13 11.25a.25.25 0 0 1 .25-.25h.5a.25.25 0 0 1 .25.25v.5a.25.25 0 0 1-.25.25h-.5a.25.25 0 0 1-.25-.25v-.5Zm.25 1.75a.25.25 0 0 0-.25.25v.5c0 .138.112.25.25.25h.5a.25.25 0 0 0 .25-.25v-.5a.25.25 0 0 0-.25-.25h-.5Zm-11-4a.25.25 0 0 0-.25.25v.5c0 .138.112.25.25.25h.5A.25.25 0 0 0 3 9.75v-.5A.25.25 0 0 0 2.75 9h-.5Zm0 2a.25.25 0 0 0-.25.25v.5c0 .138.112.25.25.25h.5a.25.25 0 0 0 .25-.25v-.5a.25.25 0 0 0-.25-.25h-.5ZM2 13.25a.25.25 0 0 1 .25-.25h.5a.25.25 0 0 1 .25.25v.5a.25.25 0 0 1-.25.25h-.5a.25.25 0 0 1-.25-.25v-.5Z" />
                                <path d="M5 1a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v1a1 1 0 0 1 1 1v4h3a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V8a1 1 0 0 1 1-1h3V3a1 1 0 0 1 1-1V1Zm2 14h2v-3H7v3Zm3 0h1V3H5v12h1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3Zm0-14H6v1h4V1Zm2 7v7h3V8h-3Zm-8 7V8H1v7h3Z" />
                            </svg> {{item.clinicName}}
                            </a>
                        </h5>
                        <p class="card-text">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                                <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
                            </svg> 醫院地址 : {{item.city+item.region+item.address}}
                        </p>
                        <p>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                            </svg> 連絡電話 : {{item.phone}}
                        </p>
                        <p>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 640 350">
                                <path d="M368 0C394.5 0 416 21.49 416 48V96H466.7C483.7 96 499.1 102.7 512 114.7L589.3 192C601.3 204 608 220.3 608 237.3V352C625.7 352 640 366.3 640 384C640 401.7 625.7 416 608 416H576C576 469 533 512 480 512C426.1 512 384 469 384 416H256C256 469 213 512 160 512C106.1 512 64 469 64 416H48C21.49 416 0 394.5 0 368V48C0 21.49 21.49 0 48 0H368zM416 160V256H544V237.3L466.7 160H416zM160 368C133.5 368 112 389.5 112 416C112 442.5 133.5 464 160 464C186.5 464 208 442.5 208 416C208 389.5 186.5 368 160 368zM480 464C506.5 464 528 442.5 528 416C528 389.5 506.5 368 480 368C453.5 368 432 389.5 432 416C432 442.5 453.5 464 480 464zM112 176C112 184.8 119.2 192 128 192H176V240C176 248.8 183.2 256 192 256H224C232.8 256 240 248.8 240 240V192H288C296.8 192 304 184.8 304 176V144C304 135.2 296.8 128 288 128H240V80C240 71.16 232.8 64 224 64H192C183.2 64 176 71.16 176 80V128H128C119.2 128 112 135.2 112 144V176z" />
                            </svg> 急診服務 : {{item.emergency==false?"無急診":"有急診"}}
                        </p>
                        <div class="tagbox" style="color:green">
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512">
                                    <path d="M489.1 363.3l-24.03 41.59c-6.635 11.48-21.33 15.41-32.82 8.78l-129.1-74.56V488c0 13.25-10.75 24-24.02 24H231.1c-13.27 0-24.02-10.75-24.02-24v-148.9L78.87 413.7c-11.49 6.629-26.19 2.698-32.82-8.78l-24.03-41.59c-6.635-11.48-2.718-26.14 8.774-32.77L159.9 256L30.8 181.5C19.3 174.8 15.39 160.2 22.02 148.7l24.03-41.59c6.635-11.48 21.33-15.41 32.82-8.781l129.1 74.56L207.1 24c0-13.25 10.75-24 24.02-24h48.04c13.27 0 24.02 10.75 24.02 24l.0005 148.9l129.1-74.56c11.49-6.629 26.19-2.698 32.82 8.78l24.02 41.59c6.637 11.48 2.718 26.14-8.774 32.77L352.1 256l129.1 74.53C492.7 337.2 496.6 351.8 489.1 363.3z" />
                                </svg> 服務項目 : {{item.service}}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="modal fade" :id=" 'btn'+index" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                     aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">{{item.clinicName}}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 分頁 -->
    <div class="container d-flex justify-content-center">
        <div class="row">
            <div class="col">
                <paginate :page-count="totalPages" :click-handler="pageChange" :prev-text="'上一頁'" :next-text="'下一頁'"
                          :page-range="5"
                          :container-Class="'pagination'"
                          :page-link-class="'page-link'"
                          :prev-class="'page-item'"
                          :next-class="'page-item'"
                          :prev-link-class="'page-link'"
                          :next-link-class="'page-link'"
                          :page-class="'page-item'">
                </paginate>
            </div>
        </div>
    </div>

</div>



@section Scripts{
    <script src="~/js/CityRegion.js"></script>
    <script src="https://unpkg.com/vuejs-paginate@latest"></script>

    <script>
        Vue.component('paginate', VuejsPaginate)
        var app = new Vue({
            data: {
                selected: {
                    city: "",
                    area: ""
                },
                ClinicList: [],
                City: [],
                Region: [],

                search: '',
                show: false,
                pageItem: 6,
                currentPage: 1,
            },
            computed: {
                totalPages: function() {
                    return Math.ceil(this.ClinicList.length / this.pageItem);
                },
                filterRest: function() {
                    var max = this.currentPage * this.pageItem;
                    var min = max - this.pageItem;
                    return this.ClinicList.slice(min, max);
                }
            },
            methods: {
                Getdata: async function(e) {
                    var city = this.City[this.selected.city].CityName; //抓到縣市
                    console.log(city, "縣市查詢")
                    let self = this;
                    var Url = `/api/ClinicAPI/GetContent/${city}/${self.selected.area}`;   //抓到選取縣市跟地區
                    if (self.selected.area == null) { Url = `/api/ClinicAPI/GetContent/${city}` }   //判斷如果沒有選取地區，只取出縣市資料
                    await fetch(Url, {
                        method: 'GET',
                    })
                        .then(function(res) {
                            return res.json();
                        }).then(function(d) {
                            console.log(d);
                            self.ClinicList = d;
                            this.show = true;
                        }).catch(error => console.log(error))
                },
                GetRegion: function(e) {
                    let self = this;
                    console.log(e.target.value)
                    this.Region = this.City[e.target.value].AreaList
                    this.selected.area = ""; //初始化地區資料
                },
                pageChange: function(currentPage) {
                    this.currentPage = currentPage;
                },
                Searchresult: function() {
                    let self = this;
                    var url = `/api/ClinicAPI/Searchstr/${self.search}`
                    fetch(url).then(res => {
                        return res.json();
                    }).then(res => {
                        self.ClinicList = res;
                    })
                }
            },
            mounted: function() {       //頁面渲染之前執行
                this.City = JSON.parse(cityRegionSource);
                fetch('/api/ClinicAPI/GetAll').then(res => { //網頁打開頁面顯示最初內容
                    return res.json();
                }).then(res => {
                    console.log('抓到all', res)
                    this.ClinicList = res
                    this.show = true;
                });
            },
        }).$mount("#Clinic")
    </script>
}

