<link rel="stylesheet" href="~/css/owl_carousel/owl.carousel.min.css" />
<link rel="stylesheet" href="~/css/owl_carousel/owl.theme.default.min.css" />
<link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />



@section Scripts{
    <script defer src="/js/owl.carousel.js"></script>
    <script defer src="/js//owl.autoheight.js"></script>
    <script defer src="/js/owl.navigation.js"></script>
    <script defer src="/js/owl.autoplay.js"></script>
}

    <style>
        #Clinic:visited {
            color: red;
            height: 272px !important;
        }

        #image {
            overflow: hidden
        }

        .image {
            transform: scale(1,1);
            transition: all .5s ease-in;
        }

            .image:hover {
                transform: scale(1.05) !important
            }

        #owlimage {
            width: 50px;
            font-size: 12px;
            border-radius: 5px;
            background-color: rgb(100 179 244 / 35%);
            display: flex;
        }
    </style>

    <div class="container" id="allinfo" v-cloak>
        <!-- 醫院資訊 -->
        <div class="container">
            <div class="container mt-3" v-for="item in Clinicinfo">
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="~/Home/Index" style="text-decoration:none">首頁</a>
                            </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            <a href="~/Clinic/Clinic" style="text-decoration:none;">醫療資訊</a>
                            </li>
                        <li class="breadcrumb-item">
                            <a :href="`/Clinic/Clinicinfo/${item.clinicId}`" id="Clinic"
                           style="text-decoration:none;">{{item.clinicName}}</a>
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
        <div>
            <div class="container" v-for="item in Clinicinfo">
                <h1 style="font-weight:900">{{item.clinicName}}</h1>
            </div>
            <div class="row mb-2 g-0 " id="info" v-for="item in Clinicinfo">
                <div class="col-md-6">
                    <img :src="'/images/Clinic/'+item.photoPath" class="h-100 w-100">
                </div>
                <div class=" col-md-6 " style="background:#f2cc8f;" v-for="item in Clinicinfo">
                    <ul class="mt-3 mb-4" style="font-size:larger">
                        <li>聯絡電話 : {{item.phone}}</li>
                        <li>醫院地址 : {{item.city+item.region+item.address}}</li>
                        <li>服務項目 : {{item.service}}</li>
                        <li>有無急診 : {{item.emergency==false?"無急診":"有急診"}}</li>
                    </ul>
                    <div class="container">
                       <iframe :src="item.clinicMap" style="width:100%;height:300px"></iframe>
                    </div>
                </div>
                <div>
                </div>
            </div>

            <h1 class="mt-5 mb-5" style="font-weight:900">服務項目</h1>
            <!-- 手風琴 -->
            <div class="accordion" id="accordionPanelsStayOpenExample" v-for="item in Clinicinfo">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                        <button class="accordion-button bg-primary " type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                            <h3 style="font-weight:900;color:#78b4ae">診療項目</h3>
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                        <div class="accordion-body">
                            <h5 style="font-weight:900;color:red">{{item.service}}</h5>
                            <p> {{item.describe}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 推薦商品 -->
        <h1 class="mt-5 mb-4" style="font-weight:900">推薦商品</h1>
        <div class="container">
            <div class="col-12 col-md-12">
                <div class="owl-carousel owl-theme" id="Prod">
                    <div class="item" v-for="item in ProductInfo">
                        <a href="~/Shop"><img :src="'/images/Product/'+item.photoPath"></a>
                        <h5 class="mt-3" style="font-weight:900;color:#78b4ae">商品名稱 : {{item.productName}}</h5>
                        <span>商品售價 : {{item.unitPrice+"元"}}</span>
                        <a class="btn btn-primary" href="/Shop/Index" role="button">前往商城</a>
                    </div>
                </div>
            </div>
        </div>
        <!--附近寵物友善餐廳-->
        <h1 class="mt-5 mb-4" style="font-weight:900">附近寵物友善餐廳</h1>
        <div class="container">
            <div class="col-md-12">
                <div class="owl-carousel owl-theme" id="Rest">
                    <div class="item" v-for="item in NearRest">
                        <a :href="`/Restaurants/RestaurantDetails/${item.restaurantsId}`"><img :src="'/images/Restaurant/'+item.photoPath"></a>
                        <h5 class="mt-3" style="color:steelblue;font-weight:900">餐廳名稱 : {{item.restaurants}}</h5>
                        <br>
                        <span>餐廳地址 : {{item.city+item.region+item.address}}</span>
                        <br>
                        <span>營業時間 : {{item.restTime}}</span>
                        <div mb-2 id="owlimage">
                            <a :href="`/Restaurants/RestaurantDetails/${item.restaurantsId}`" class=" col " style="text-decoration:none"><span style="color: #337ab7;">來去看看</span></a>
                        </div>
                        <span class=" text-success"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star-half"></i>4.4(35000)</span> |
                        <span class=" text-success">早午餐</span>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>

        var app = new Vue({
            data: {
                Clinicinfo: [],
                ClinicId: "",
                ProductInfo: [],
                NearRest: []
            },
            mounted: function() {
                let self = this;
                var Urlstr = window.location.href;
                var index = Urlstr.lastIndexOf('/');
                var fullurl = Urlstr.substring(index + 1);
                self.ClinicId = fullurl;
                let url = `/api/ClinicAPI/Getinfo/${self.ClinicId}`
                fetch(url).then(res => {
                    return res.json();
                }).then(res => {
                    console.log("抓到info", res)
                    console.log(self)
                    self.Clinicinfo = res;
                });
                fetch(`/api/ClinicAPI/GetNearRest/${self.ClinicId}`).then(res => {
                    return res.json();
                }).then(res => {
                    console.log("抓到rest", res)
                    self.NearRest = res;
                    self.$nextTick(function() {
                        $('#Rest').owlCarousel({
                            nav: true,
                            margin: 10,
                            responsive: {
                                0: {
                                    items: 1 // 螢幕大小為 0~600 顯示 1 個項目
                                },
                                1000: {
                                    items: 4// 螢幕大小為 600~1000 顯示 3 個項目
                                },

                            }
                        })
                    }.bind(self))
                });
                fetch('/api/ClinicAPI/GetProductInfo').then(res => {
                    return res.json();
                }).then(res => {
                    self.ProductInfo = res;
                    self.$nextTick(function() {
                        $('#Prod').owlCarousel({
                            nav: true,
                            loop: true,
                            margin: 10,
                            autowidth: true,
                            autoheight: true,
                            autoplay: true,
                            autoplayTimeout: 2000,
                            responsive: {
                                0: {
                                    items: 1 // 螢幕大小為 0~600 顯示 1 個項目
                                },
                                600: {
                                    items: 3 // 螢幕大小為 600~1000 顯示 3 個項目
                                },
                                1000: {
                                    items: 4 // 螢幕大小為 1000 以上 顯示 5 個項目
                                }
                            }
                        })
                    }.bind(self))
                })
            },
        }).$mount('#allinfo')
    </script>

