@{
    Layout = null;
}
<body style="margin-top: 100px;background-color: #f2cc8f;">
    <table rules="none" style="border:3px solid #E5E5E5;border-top:none;margin:0 auto;padding:0px;width:700px">
        <tbody>
            <tr style="color: #f2cc8f;">
                <td style="border-top:#E5E5E5 solid 3px;width:150px;margin:0 auto;padding:0px" width="150">&nbsp;</td>
                <td colspan="2" style="border-top:#ee8c30 solid 3px;width:550px;margin:0 auto;padding:0px" width="550">
                    &nbsp;</td>
            </tr>
            <tr>
                <td colspan="3"
                    style="font-size:32px;text-align:center;font-weight:bold;padding:30px 10px 10px;line-height:36px">
                    付款成功通知
                </td>
            </tr>
            <tr>
                <td colspan="3" style="font-size:18px;font-weight:bold;padding:5px 5px 5px">您好：</td>
            </tr>
            <tr>
                <td colspan="3" style="padding:5px 5px 0px 5px;margin:0 auto">



                    <div>

                        <div style="padding:10px 10px 0px 30px">
                            您於<span style="color:#ff0000">寵物任我行</span>購買的商品已完成付款，<wbr>感謝您使用<span
                                class="il">藍</span><span class="il">新</span>服務。</div>
                        <div style="padding:20px 10px 10px 10px;margin:0 auto">
                            &nbsp;</div>
                        <div style="padding:0px 10px 0px 10px">
                            <table rules="none" style="width:100%;border:2px solid #ee8c30;padding:0px;margin:0 auto">
                                <tbody>
                                    <tr>
                                        <td
                                            style="padding:10px 10px 10px 10px;width:100%;margin:0 auto;border-bottom:2px solid #ee8c30">
                                            <b>商店代號：</b>m123
                                        </td>
                                    </tr>
                                    <tr>
                                        <td
                                            style="padding:10px 10px 10px 10px;width:100%;margin:0 auto;border-bottom:2px solid #ee8c30">
                                            <b>訂單編號：</b>20211030081433032
                                        </td>
                                    </tr>
                                    <tr>
                                        <td
                                            style="padding:10px 10px 10px 10px;width:100%;margin:0 auto;border-bottom:2px solid #ee8c30">
                                            <b>訂單日期：</b>2022/8/3
                                        </td>
                                    </tr>
                                    <tr>
                                        <td
                                            style="padding:10px 10px 10px 10px;width:100%;margin:0 auto;border-bottom:2px solid #ee8c30">
                                            <b>付款方式：</b>信用卡-一次付清
                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="padding:10px 10px 10px 10px;width:100%;margin:0 auto">
                                            <b>付款金額：</b>1,890
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        &nbsp; &nbsp;
                        <div style="padding:0px 10px 0px 10px">
                        </div>
                    </div>

                </td>
            </tr>
            <tr>
                <td colspan="3" style="color:#ff0000;padding:20px 10px 0px 10px">※ 本信件為系統自動發送 ( 請勿回信 )。</td>
            </tr>
            <tr>
                <td style="border-bottom:#E5E5E5 solid 3px;width:550px" width="210">&nbsp;</td>
                <td style="border-bottom:#E5E5E5 solid 3px;width:150px" width="280">&nbsp;</td>

            </tr>
            <tr>
                <td colspan="3" style="text-align:center;padding:10px 10px 0px 10px"><a href="https://www.newebpay.com/"
                        style="color:#ee8c30;text-decoration:none" target="_blank"
                        data-saferedirecturl="https://www.google.com/url?q=https://www.ecpay.com.tw/&amp;source=gmail&amp;ust=1659618890012000&amp;usg=AOvVaw3U7AYF0eSj9_GXeQEx0Brp"><span
                            class="il">藍</span><span class="il">新</span>科技股份有限公司</a>
                </td>
            </tr>
            <tr>
                <td colspan="3" style="text-align:center;padding:10px 10px 10px 10px;font-size:14px"><span
                        class="il">藍</span><span class="il">新</span>科技為第三方支付公司，非交易當事人，並未販售商品或服務，<wbr>如有相關問題請洽原購買店家</td>
            </tr>
        </tbody>
    </table>
</body>
