@section Styles{
<link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
}

<div id="PetsAbo">
    <div class="container d-flex justify-content-end mt-5">
        <div class="row ">
            <div class="col">
                <button class="btn button-primary">搜尋 <i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
        </div>
    </div>
    <div class="container">
        <h3>請輸入查詢條件</h3>
        <div class="row mt-2">
            <div class="col">
                <input type="radio" value="1" name="animal">
                <label>犬</label>
                <input type="radio" value="2" name="animal" class="ms-3">
                <label>貓</label>
            </div>
        </div>
    </div>
    <!-- 分頁 -->
    <div class="container d-flex justify-content-center">
        <div class="row">
            <div class="col">
                <paginate :page-count="totalPages" :click-handler="pageChange" :prev-text="'<<'" :next-text="'>>'"
                    :page-range="10" :container-Class="'pagination'" :page-link-class="'page-link'"
                    :prev-class="'page-item'" :next-class="'page-item'" :prev-link-class="'page-link'"
                    :next-link-class="'page-link'" :page-class="'page-item'">
                </paginate>
            </div>

        </div>
    </div>
    <hr>
    <br>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-3" v-for="p in petDataAll" style="width:300px;height:500px;">
                <div>
                    <div class="card">
                        <img :src="p.album_file" class="card-img-top" style="width:100%;height:200px;">
                        <div class="card-body">
                            <p class="card-text">品種:{{p.animal_Variety}}</p>
                            <p class="card-text">類別:{{p.animal_kind}}</p>
                            <p class="card-text">性別:{{p.animal_sex}}</p>
                            <p class="card-text">來源:{{p.animal_foundplace}}</p>
                            <p class="card-text">我在:{{p.animal_place}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
<script src="https://unpkg.com/vuejs-paginate@latest"></script>
<script>
    Vue.component('paginate', VuejsPaginate)
    var vmm = new Vue({
        data: {
            petDataAll: [],
            pageItem: 20,
            currentPage: 1,
            totalPageCount:6441

        },

        computed: {
            totalPages: function () {
                return Math.ceil(this.totalPageCount / this.pageItem);
            },

        },
        methods: {
            pageChange: function (currentPage) {
                this.currentPage = currentPage;
                axios.get('/api/PetsAboptionAPI/GetPage', { params: { curPage: `${this.currentPage}`, showPage: `${this.pageItem}` } })
                    .then(res => {
                        console.log(res)
                        this.petDataAll = res.data;
                        
                    })
                    .catch(err => {
                        console.error(err);
                    })
            }
        },
        mounted: function () {
             axios.get('/api/PetsAboptionAPI/GetPage', { params: { curPage: `${this.currentPage}`, showPage: `${this.pageItem}` } })
                    .then(res => {
                        console.log(res)
                        this.petDataAll = res.data;
                    })
                    .catch(err => {
                        console.error(err);
                    })
        }
    });
    vmm.$mount('#PetsAbo');
</script>
}