@*我的最愛頁面*@
<div class="container pt-5" style="margin-bottom: 550px;">
    <div class="d-flex row mb-auto">
        <div class="w-100 d-flex justify-content-center">
            <div class="card mb-3 col col-12" style="max-width: 800px;">
                <div class="row row-cols-3 g-0 align-items-center justify-content-evenly position-relative" style="max-width: 800px; height: 250px">
                    <!-- <div class="col mb-auto mt-auto" style="width: 200px; height: 100px;"> -->
                    <img class=" colimg img-thumbnail" src="/images/UserCollection/feed.jpg" style="max-width: 200px; height: 140px" alt="">
                    <!-- </div> -->
                    <div class="col">
                        <div class="card-body">
                            <h5 class="card-title">商品名稱</h5>
                            <label class="card-text">單價 : <p>$120</p></label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card-body">
                            <a class="btn btn-outline-secondary position-absolute" style="bottom: 10%; right: 15%;" type="submit">加入購物車</a>
                            <a class="btn btn-outline-danger position-absolute" style="bottom: 10%; right: 5%;" type="submit">移除</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-100 d-flex justify-content-center">
            <div class="card mb-3 col col-12" style="max-width: 800px;">
                <div class="row row-cols-3 g-0 align-items-center justify-content-evenly position-relative" style="max-width: 800px; height: 250px">
                    <!-- <div class="col mb-auto mt-auto" style="width: 200px; height: 100px;"> -->
                    <img class=" colimg img-thumbnail" src="/images/UserCollection/restaurant.jpg" style="max-width: 200px; height: 140px" alt="">
                    <!-- </div> -->
                    <div class="col">
                        <div class="card-body">
                            <h5 class="card-title">餐廳名稱</h5>
                            <label class="card-text">單價 : <p>$120</p></label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card-body">
                            <a class="btn btn-outline-secondary position-absolute" style="bottom: 10%; right: 15%;" type="submit">加入購物車</a>
                            <a class="btn btn-outline-danger position-absolute" style="bottom: 10%; right: 5%;" type="submit">移除</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-100 d-flex justify-content-center">
            <div class="card mb-3 col col-12" style="max-width: 800px;">
                <div class="row row-cols-3 g-0 align-items-center justify-content-evenly position-relative" style="max-width: 800px; height: 250px">
                    <!-- <div class="col mb-auto mt-auto" style="width: 200px; height: 100px;"> -->
                    <img class=" colimg img-thumbnail" src="/images/UserCollection/clinic.jpg" style="max-width: 200px; height: 140px" alt="">
                    <!-- </div> -->
                    <div class="col">
                        <div class="card-body">
                            <h5 class="card-title">診所名稱</h5>
                            <label class="card-text">電話 : </label><p>02-8888-8888</p>
                            <label class="card-text">地址 : </label><p>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card-body">
                            <a class="btn btn-outline-secondary position-absolute" style="bottom: 10%; right: 15%;" type="submit">加入購物車</a>
                            <a class="btn btn-outline-danger position-absolute" style="bottom: 10%; right: 5%;" type="submit">移除</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>