<div class="mt-5">
    <img src="/images/UserDetails/petsIcon.png" class="rounded float-start position-relative" style="left: 20%;" alt="...">
    <div class="row g-5 justify-content-center" style="padding: 10px 100px 10px 200px;">
        <div class="col-md-7 col-lg-8 px-3">
            <div class="d-flex align-items-center mb-2">
                <h4 class="mb-0 d-inline-block">愛寵資訊</h4>
                <a class="btn btn-lg rounded-3 btn-primary mx-3" style="font-size: 15px;" type="submit">
                    新增
                </a>
            </div>
            <form class="needs-validation" novalidate="">
                <div class="row g-3">
                    <div class="col-sm-6">
                        <label for="Name" class="form-label">名字</label>
                        <input type="text" class="form-control" id="Name" placeholder="" value="" required="">
                        <div class="invalid-feedback">
                            Valid first name is required.
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <label for="species" class="form-label">物種</label>
                        <input type="text" class="form-control" id="species" placeholder="" value="" required="">
                        <div class="invalid-feedback">
                            Valid 物種 is required.
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <label for="variety" class="form-label">品種</label>
                        <input type="text" class="form-control" id="variety" placeholder="" value="" required="">
                        <div class="invalid-feedback">
                            Valid variety is required.
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <label for="birthday" class="form-label">Birthday</label>
                        <input type="text" class="form-control" id="birthday" placeholder="" value="" required="">
                        <div class="invalid-feedback">
                            Valid birthday is required.
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <hr>
    <div class="row row-cols-2 d-flex justify-content-evenly" style="padding: 10px 100px 10px 200px;">
        <div class="card mb-3 col col-12 h-auto" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4 d-flex align-content-center">
                    <img src="/images/UserDetails/black-dog-.jpeg" class="img-fluid rounded" alt="">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">小黑</h5>
                        <p class="card-text">巴哥犬</p>
                        <p class="card-text"><small class="text-muted">3歲</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3 col col-12 h-auto" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4 d-flex align-content-center">
                    <img src="/images/UserDetails/cat.webp" class="img-fluid rounded" alt="">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">小黑</h5>
                        <p class="card-text">巴哥犬</p>
                        <p class="card-text"><small class="text-muted">3歲</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3 col col-12 h-auto" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4 d-flex align-content-center">
                    <img src="/images/UserDetails/rabbit.jpg" class="img-fluid rounded" alt="">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">小黑</h5>
                        <p class="card-text">巴哥犬</p>
                        <p class="card-text"><small class="text-muted">3歲</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3 col col-12 h-auto" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4 d-flex align-content-center">
                    <img src="/images/UserDetails/lizard.webp" class="img-fluid rounded" alt="">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">小黑</h5>
                        <p class="card-text">巴哥犬</p>
                        <p class="card-text"><small class="text-muted">3歲</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>