@*新增愛寵頁面*@
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<div class="mt-5" id="pets">
    <img src="/images/UserDetails/petsIcon.png" class="rounded float-start position-relative" style="left: 20%;" alt="...">
    <div class="row g-5 justify-content-center" style="padding: 10px 100px 10px 200px;">
        <div class="col-md-7 col-lg-8 px-3">
            <div class="d-flex align-items-center mb-2">
                <h4 class="mb-0 d-inline-block">愛寵資訊</h4>
                <a class="btn btn-lg rounded-3 btn-primary mx-3" style="font-size: 15px;" type="submit" v-on:click="createPet">
                    新增
                </a>
            </div>
            <form class="needs-validation" novalidate="">
                <div class="row g-3">
                    <div class="col-sm-6 was-validated">
                        <label for="validationinput" class="form-label">名字: </label>
                        <input type="text" class="form-control is-invalid" id="validationinput" v-model="newPetName" required>
                    </div>

                    <div class="col-sm-6 was-validated">
                        <label for="validationinput" class="form-label">物種: </label>
                        <input type="text" class="form-control is-invalid" id="validationinput" v-model="newPetSpecie" required>
                    </div>

                    <div class="col-sm-6 was-validated">
                        <label for="variety" class="form-label">性別: </label>
                        <select class="form-select" aria-label="select example" v-model="newPetGender" required>
                            <option value="">-- 請選擇 --</option>
                            <option value="1">公</option>
                            <option value="0">母</option>
                        </select>
                    </div>

                    <div class="col-sm-6 was-validated">
                        <label for="birthday" class="form-label">年齡: </label>
                        <input type="text" class="form-control is-invalid" id="validationinput" v-model="newPetAge" required>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <hr>
    <div class="row row-cols-2 d-flex justify-content-evenly" style="padding: 10px 100px 10px 200px;">
        <div class="card mb-3 col col-6 h-auto" style="max-width: 540px;" v-for="pet in pets">
            <div class="row g-0">
                <div class="col-md-4 d-flex align-content-center">
                    <img src="/images/UserDetails/black-dog-.jpeg" class="img-fluid rounded" alt="">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{pet.petName}}</h5>
                        <p class="card-text">{{pet.species}}</p>
                        <span class="card-text"><small class="text-muted">{{pet.gender}}</small></span>
                        <p class="card-text"><small class="text-muted">{{pet.age}}歲</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var petsVue = new Vue({
        data: {
            pets: [],
            newPetName: "",
            newPetSpecie: "",
            newPetGender: "",
            newPetAge: "",
        },
        created: function() {
            let self = this;
            fetch("/api/PetsApi/GetPets")
                .then(function(result) {
                    console.log("getResponse");
                    console.log(result);
                    return result.json();
                })
                .then(function(resp) {
                    console.log(resp);
                    self.pets = resp;
                })
        },
        methods: {
            createPet: function() {
                var newPet = {
                    PetName: this.newPetName,
                    Species: this.newPetSpecie,
                    Gender: this.newPetGender,
                    Age: this.newPetAge
                }
                fetch("/api/PetsApi/CreatePet", {
                    method: 'POST',
                    body: JSON.stringify(newPet),
                    headers: new Headers({
                        'Content-type': 'application/json'
                    })
                })
                    .then(resp => console.log(resp))
                    .catch(error => console.log("error", error))
                    .then(response => console.log("success", response));
                    alert("已傳送");
            }
        }
    }).$mount('#pets');
</script>