@section Styles{
    <link rel="stylesheet" href="~/css/AaronCSS/index.css" />
    <link rel="stylesheet" href="~/css/AaronCSS/favoriteIcon.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
}

    <div id="Rest">

        <!-- Jumbotron -->
        <div class="container-fluid">
            <div class="row">
                <div class="jumbotron">
                    <div class="container">
                        <h1 class="display-3">Hello, world!</h1>
                        <p>
                            This is a template for a simple marketing or informational website. It includes a large callout
                            called a jumbotron and three supporting pieces of content. Use it as a starting point to create
                            something more unique.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- 依...搜尋... -->
        <div class="container">
            <div class="row row-cols-1 ">

                <div class="d-flex justify-content-end">
                    <select class="me-2" autocomplete="off" v-on:change="cheCity($event)">
                        <option value="" selected disabled>--請選擇城市--</option>
                        <option v-for="(item,index) in items" v-bind:value="index">{{item.CityName}}</option>
                    </select>
                    <select class="me-2" v-model="selected.area">
                        <option value="" selected disabled>--請選擇地區--</option>
                        <option v-for="region in regions" v-bind:value="region.AreaName">{{region.AreaName}}</option>
                    </select>
                    <button class="btn btn-primary" v-on:click="Qry">查詢</button>

                </div>

            </div>
        </div>

        <!-- card -->
        <div class="container mt-3 ">
            <div class="row row-cols-3" id="cardBody">
                
                <div id="inCard" v-for="card in restaurants" v-show="isShow">
                    <div class="card mb-4" id="cardContent">
                        <img class="card-img-top" :src="card.photo" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title"><i class="fa-solid fa-utensils"></i> {{card.restaurantName}}</h4>
                            <p class="card-text"><i class="fa-solid fa-phone-volume"></i> {{card.phone}}</p>
                            <p class="card-text"><i class="fa-solid fa-location-dot"></i> {{card.city+card.region+card.address}}</p>
                            <div class="mb-2">
                                <p class="card-text"><i class="fa-solid fa-info"></i> 關於我們:</p>
                                <p class="card-text" id="cardAbout">{{card.introduction}}</p>
                            </div>
                            <div class="d-flex justify-content-center">
                                 <a href="#" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                請按我
                            </a>
                            </div>
                           
                            <!-- Modal -->
                            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                             tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel">{{card.restaurantName}}</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <!-- map -->
                                            <div class="container">
                                                <div class="row">
                                                    <h2 id="h2Text" class="col-12 text-center text-danger mb-2">Map</h2>
                                                    <div class="col-12">
                                                        <iframe id="map"
                                                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.769612505944!2d121.52342931484193!3d25.041891483968584!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a970a11a84ad%3A0x58e05f2528812097!2z5ZyL56uL6Ie65YyX5ZWG5qWt5aSn5a24!5e0!3m2!1szh-TW!2stw!4v1657415255330!5m2!1szh-TW!2stw"
                                                            class="w-100" style="border:0;" allowfullscreen=""
                                                            loading="lazy"
                                                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- 評論 -->
                                            <div class="container">
                                                <div class="row">
                                                    <h1 id="titleH1" class="text-danger mt-5">評論</h1>
                                                </div>
                                                <div class="row">

                                                    <div class="form-floating mt-3">
                                                        <textarea class="form-control" placeholder="Leave a comment here"
                                                              id="floatingTextarea2" style="height: 100px"></textarea>
                                                        <label for="floatingTextarea2">Comments</label>
                                                        <div class="d-flex justify-content-end mt-3">
                                                            <a href="#" class="btn btn-info">提交</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer d-flex justify-content-between">
                                            <div id="container" class="favorite">
                                                <div class="circle" v-on:click="toggle()"></div>
                                            </div>
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">
                                                Close
                                            </button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    @section Scripts{
    <script src="~/js/CityRegion.js"></script>
    <script>
        var app = new Vue({

            data: {
                items: [],
                restaurants: [],
                isShow: false,
                regions: [],
                total: {},
                selected: {
                    city: '',
                    area: '',
                }

            },
            methods: {
                Qry: async function() {
                    let that = this;
                    var a = await that.QryCityRegion()
                    return a;
                },

                QryCityRegion: function() {
                    let that = this;
                    let url = `/api/RestaurantsApi/QryByCityRegion/${that.selected.city}/${that.selected.area}/rawdata`
                    if (that.selected.area === "") {
                        axios.get(`/api/RestaurantsApi/QryByCityRegion/${that.selected.city}/rawdata`)
                            .then(res => {
                                console.log(res)
                                this.restaurants = res.data;
                                this.isShow = true;
                                console.log("載到囉!!城市查詢");

                            })
                            .catch(err => {
                                console.error(err);
                            })
                    }
                    else {
                        axios.get(url)
                            .then(res => {
                                console.log(res)
                                this.restaurants = res.data;
                                this.isShow = true;
                                console.log("載到囉!!複合查詢");

                            })
                            .catch(err => {
                                console.error(err);
                            })
                    }


                },
                cheCity: function(event) {
                    let that = this;
                    console.log(event);
                    that.regions = that.items[event.target.value].AreaList;
                    if (event.target.value === '0') {
                        that.selected.city = '台北';

                    }
                    if (event.target.value === '2') {
                        that.selected.city = '新北市';
                    }
                },
                toggle: function() {
                    document.getElementById('container').classList.toggle('is-active')

                }
            },
            mounted: function() {
                console.log('掛載完成');
                let that = this;
                that.items = JSON.parse(cityRegionSource);

                axios.get("/api/RestaurantsApi/Details/rawdata")
                    .then(res => {
                        console.log(res)
                        this.total = res.data;
                    })
                    .catch(err => {
                        console.error(err);
                    })
            }


        });
        app.$mount('#Rest')

    </script>
}
