@section Styles{
<link rel="stylesheet" href="~/css/AaronCSS/index.css" />
<link rel="stylesheet" href="~/css/AaronCSS/favoriteIcon.css" />
<link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
<style>
    #bread:visited {
        color: red;
    }

   
</style>
}

<div id="Rest">

    <!-- Jumbotron -->
    <div class="container">
        <div class="row">
            <div class="jumbotron">
                <div class="container">
                    <h1 class="display-3">Hello, world!</h1>
                    <p>
                        This is a template for a simple marketing or informational website. It includes a large callout
                        called a jumbotron and three supporting pieces of content. Use it as a starting point to create
                        something more unique.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--麵包屑-->
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="~/Home/Index" style="text-decoration:none;">首頁</a></li>
                <li class="breadcrumb-item"><a href="~/Restaurants/Restaurant" id="bread"
                        style="text-decoration:none;">寵物友善餐廳</a></li>
            </ol>
        </nav>


    </div>

    <div class="container d-flex justify-content-end">
        <div class="row">
            <div class=" ">
                <div>
                    <div class="  col-12">
                        <div class="col-12 me-1">
                            <input type="text" placeholder="請輸入關鍵字.." class="form-control mb-2 me-1" v-model="search"
                                v-on:change="searchKey">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 依...搜尋... -->
<div class="container">
    <div class=" ">
        <div class="row d-flex justify-content-center">
            <div class="col-4">
                <select class="form-control" autocomplete="off" v-on:change="cheCity($event)">
                    <option value="" selected disabled>請選擇城市</option>
                    <option v-for="(item,index) in items" v-bind:value="index">{{item.CityName}}
                    </option>
                </select>
            </div>
            <div class="col-4">
                <select class="form-control" v-model="selected.area">
                    <option value="" selected disabled>請選擇地區</option>
                    <option v-for="region in regions" v-bind:value="region.AreaName">{{region.AreaName}}
                    </option>
                </select>
            </div>
            <div class="col-3">
                <button class="btn btn-primary" v-on:click="Qry">查詢</button>
            </div>
        </div>
    </div>

</div>

    <!-- cardFromDropDowm -->
    <div class="container mt-3 ">
        <div class="row  row-cols-sm-1 row-cols-lg-2 row-cols-md-2 row-cols-xl-3" id="cardBody">

            <div id="inCard" v-for="(card,index) in total" v-if="isShow">
                <div class="card mb-4" id="cardContent">
                    <!-- 旋轉木馬 -->
                    <div :id="'sch'+index" class="carousel slide" data-bs-ride="true">
                        <div class="carousel-indicators">
                            <button type="button" :data-bs-target="'#sch'+index" data-bs-slide-to="0" class="active"
                                aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" :data-bs-target="'#sch'+index" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" :data-bs-target="'#sch'+index" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="~/images/Owner/餐廳.jpg" class="d-block card-img-top" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="~/images/Owner/餐廳.jpg" class="d-block card-img-top" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="~/images/Owner/餐廳.jpg" class="d-block card-img-top" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" :data-bs-target="'#sch'+index"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" :data-bs-target="'#sch'+index"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>

                    <div class="card-body">
                        <h4 class="card-title" v-html="highLight(card.restaurantName)"><i
                                class="fa-solid fa-utensils"></i> {{card.restaurantName}}</h4>
                        <p class="card-text"><i class="fa-solid fa-phone-volume"></i> {{card.phone}}</p>
                        <div class="mb-2"><i class="fa-solid fa-location-dot"></i>
                            <b class="card-text" v-html="highLight(card.city)">
                                {{card.city}}</b>
                            <b class="card-text" v-html="highLight(card.region)">
                                {{card.region}}</b>
                            <b class="card-text" v-html="highLight(card.address)">
                                {{card.address}}</b>
                        </div>
                        <div class="mb-2">
                            <p class="card-text"> <i class="fa-solid fa-info"></i> 關於我們:</p>
                            <p class="card-text" id="cardAbout">{{card.introduction}}</p>
                        </div>
                        <div class="d-flex justify-content-center">
                            <a :href="`RestaurantDetails/${card.restaurantId}`" class="btn btn-secondary">
                                請按我
                            </a>
                        </div>

                        <!-- Modal -->
                        <!-- <div class="modal fade" :id="'md'+index" data-bs-backdrop="static" data-bs-keyboard="false"
                            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">{{card.restaurantName}}</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">

                                        <div class="container">
                                            <div class="row">
                                                <h2 id="h2Text" class="col-12 text-center text-danger mb-2">Map</h2>
                                                <div class="col-12">
                                                    <iframe id="map"
                                                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.769612505944!2d121.52342931484193!3d25.041891483968584!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a970a11a84ad%3A0x58e05f2528812097!2z5ZyL56uL6Ie65YyX5ZWG5qWt5aSn5a24!5e0!3m2!1szh-TW!2stw!4v1657415255330!5m2!1szh-TW!2stw"
                                                        class="w-100" style="border:0;" allowfullscreen=""
                                                        loading="lazy"
                                                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer d-flex justify-content-between">
                                        <div :id="'con'+index" class="favorite" v-on:click="toggle($event)">
                                            <div class="circle"></div>
                                        </div>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                            Close
                                        </button>

                                    </div>
                                </div>
                            </div>
                        </div> -->

                    </div>
                </div>
            </div>

        </div>
    </div>





</div>
@section Scripts{
<script src="~/js/CityRegion.js"></script>
<script>
    var app = new Vue({

        data: {
            items: [],
            restaurants: [],
            isShow: false,
            isShow2: false,
            regions: [],
            total: {},
            selected: {
                city: '',
                area: '',
            },
            search: '',
            



        },
        methods: {
            Qry: async function () {
                let that = this;
                var a = await that.QryCityRegion()
                return a;
            },

            QryCityRegion: function () {
                let that = this;
                let url = `/api/RestaurantsApi/QryByCityRegion/${that.selected.city}/${that.selected.area}/rawdata`
                if (that.selected.area === "") {
                    axios.get(`/api/RestaurantsApi/QryByCityRegion/${that.selected.city}/rawdata`)
                        .then(res => {
                            console.log(res)
                            this.total = res.data;
                            this.isShow = true;
                            console.log("載到囉!!城市查詢");

                            if (that.isShow === true) {
                                that.isShow2 = false;
                            }

                        })
                        .catch(err => {
                            console.error(err);
                        })
                }
                else {
                    axios.get(url)
                        .then(res => {
                            console.log(res)
                            this.total = res.data;
                            this.isShow = true;
                            console.log("載到囉!!複合查詢");


                        })
                        .catch(err => {
                            console.error(err);
                        })
                }

            },
            cheCity: function (event) {
                let that = this;
                console.log(event);
                that.regions = that.items[event.target.value].AreaList;
                if (event.target.value === '0') {
                    that.selected.city = '台北';

                }
                if (event.target.value === '2') {
                    that.selected.city = '新北市';
                }
                that.selected.area = '';
            },
            // toggle: function (event) {
            //     let that = this;
            //     var a = [];

            //     for (let i = 0; i < that.restaurants.length; i++) {
            //         a.push(i);
            //         document.getElementById(`con${a[i]}`).classList.toggle('is-active');
            //     }
            //     document.querySelector(`.favorite`).classList.contains('is-active');
            //     console.log(event.target)
            // }
            searchKey: function () {
                let that = this;
                let url = '/api/RestaurantsApi/Search/rawdata';

                axios.get(url, { params: { key: `${that.search}` } })
                    .then(res => {
                        console.log(res)
                        that.total = res.data;
                        that.isShow = true;
                    })
                    .catch(err => {
                        console.error(err);
                    })
            },
            highLight: function (title) {

                if (title.includes(this.search)) {
                    title = title.replace(
                        this.search,

                        '<font style="color:red!important;">' + this.search + '</font>'
                    )
                    return title
                }
                else {
                    return title
                }
            },

            // restDetails:function(){
            //     let url = `/api/RestaurantsApi/Details/rawdata/${that.total.restaurantId}`;
            //     axios.get(url)
            //     .then(res => {
            //         console.log(res)
            //         that.restID = des.data;
            //     })
            //     .catch(err => {
            //         console.error(err); 
            //     })
            // }



        },
        mounted: function () {
            console.log('掛載完成');
            let that = this;
            that.items = JSON.parse(cityRegionSource);

            axios.get("/api/RestaurantsApi/Details/rawdata")
                .then(res => {
                    console.log(res)
                    that.total = res.data;

                })
                .catch(err => {
                    console.error(err);
                })
        }


    });
    app.$mount('#Rest')

</script>
}
